<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" href="./firebase.css" /> -->
    <title>Document</title>
  </head>
  <style></style>

  <body>
    <button class="show-hidden-section-btn test">Show Hidden Section</button>
    <div id="loading-spinner" class="loading-spinner"></div>
    <button class="show-more">Show more</button>
    <div class="container-display-none">
      <div id="data" class="info_s"></div>
      <div id="email" class="info_f"></div>
      <div id="name" class="info_g"></div>
      <div id="username" class="info_h"></div>
      <div id="codepen" class="info_j"></div>
      <!-- <img id="myImage" url="" /> -->

      <div class="append_img" style="width: 200px; height: 200px"></div>
      <div class="testAppend" style="width: 200px; height: 200px"></div>
    </div>

    <div class="wrapper_users">
      <button id="insbtn" style="display: none">insert</button>
      <div id="container_get" class="container_get"></div>
    </div>
    <script src="./firebase.js" type="module"></script>
  </body>
</html>
