

@font-face {
  font-family: product-sans;
  src: url(./assets/fonts/product-sans/Product\ Sans\ Regular.ttf);
}
@font-face {
  font-family: SF-Regular;
  src: url(./assets/fonts/sanFrancisco/SF-Pro-Display-Regular.otf);
}
@font-face {
  font-family: SF-Text_Regular;
  src: url(./assets/fonts/sanFrancisco/SF-Pro-Text-Regular.otf);
}
@font-face {
  font-family: SF-Thin;
  src: url(./assets/fonts/sanFrancisco/SF-Pro-Display-Light.otf);
}
@font-face {
  font-family: SF-Ultralight;
  src: url(./assets/fonts/sanFrancisco/SF-Pro-Display-Ultralight.otf);
}
@font-face {
  font-family: SF-Black;
  src: url(./assets/fonts/sanFrancisco/SF-Pro-Display-Black.otf);
}
@font-face {
  font-family: SF-Bold;
  src: url(./assets/fonts/sanFrancisco/SF-Pro-Display-Bold.otf);
}
@font-face {
  font-family: SF-Heavy;
  src: url(./assets/fonts/sanFrancisco/SF-Pro-Display-Heavy.otf);
}
@font-face {
  font-family: SF-Text_Medium;
  src: url(./assets/fonts/sanFrancisco/SF-Pro-Text-Medium.otf);
}
@font-face {
  font-family: SFUIText;
  src: url(./assets/fonts/sanFrancisco/SFUIText-Regular.otf);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {

  /* --same_color_wrapper: #03030469;
  --same_color_boxes: #b5b5b5; */
  /* 
  --color_border_r: #606060; */
--bg-modal_after:#091214c9;
--bg-color_overlay: #05060e9e;
--bg-color_parent: #385278c4;
--bg-color_child:#162531;
--bg-border_parent: #162531;
--bg-border_low: #244056;
--background_hover:#B7B78A;

--soft-grey:#d7d7d7b0;
--text-azure:azure;
--hover-text:#d7d7d7b0;

--btn-contact-simple:crimson;
--btn-contact-hover:orange;
  --bg_nav_drop:#0c0c0cb0;

  

  --bg-low_dark:#2B3A55;
  --bg-low_dark_icons:#000000;
  --bg-low_dark_header:#0e0f1c;

  --shadow-low_grey:#c9c9c9;


--material_symbol_box_display:#0e3377;



  --containers_MaxWidth: 50%;
  --containers_MinWidth: 1000px;
  --containers_width: calc(55em - 10px);
  --containers_height: 40em;

  --github_gradient: radial-gradient(circle, #440000, #3a0301, #310402, #280301, #1f0000);
  --linkedin_gradient:radial-gradient(circle, #1333a6, #002f88, #002869, #00204a, #03162c);
  
  /*finder colors*/
  /*contact colors*/
  /* --aditional-finder-color: #161616;
  --primaryM-finder-color: #171717e3;
  --primaryS-finder-color: #1b24308c;
  --primary-finder-color: #333333;
  --second-finder-color: rgba(27, 27, 27, 0.2);
  --third-finder-color: rgb(20, 20, 20);
  --text-finder-color: #b9b9b9;
  --text-low-finder-color: #dbdbdb;
  --text-low-finder-color-hover: #ff87ca;
  --items-finder-color: grey;
  --hover-finder-color: #1a91d6ea;
  --link-finder-color: #d8d8d8;
  --finder-opacity-color: #171618bf;
  --finder-opacity-color-left: #1717179e;
  --finder-opacity-color-back: #3333339c;
  --btn-contact-simple: brown;
  --btn-contact-simple-two: #a52a2a4f;

  --btn-contact-simple-hover: #03506f;
  --btn-contact-simple-focus: #398ab9f1;
  --btn-contact-simple-active: #1d9ae2;
  --max-black: #121212;
  --medium-black: #292c33;
  --low-black: #282828;
  --hard-grey: #404040;
  --medium-grey: #2e333a;
  --easy-grey: #abb0b8;
  --soft-grey: #cecdcd;
  --light-white: #ffffff;
  --Rorange-color: #346751e8;
  --Rwhite-color: #f7f7f7;
  --Rhard-black-color: #313131;
  --Rlight-blue-color: #14d5dc;
  --Rcrimson-color: crimson; */
  /*End  Colors*/

  --bg_image: url(./assets/png/_bg/macos3.jpg);
}


body {
  background-image: var(--bg_image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 222;
  height: 100%;
  background-color: var(--medium-black);
  overflow: hidden;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 20;
}
.material-symbols-outlined {
  font-size: 18px;
}

p,
a,
label,
button,
span .input-style,
::placeholder,
.btn,
h3,
h1,
h2,h3,h4,h5 {
  font-family: "SF-Regular";
}

a {
  text-decoration: none !important;
  color: var(--text-low-finder-color);
}
.__nav_list > div {
  font-family: "SF-Regular";
}

/* list navigation pages  */
li {
  list-style: none;
}
._l_list:hover{
  background: var(--background_hover);
  color: black !important;
}
._l_list a {
  font-size:0.9em;
  display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;
    padding: 3px;
    text-transform: capitalize;
    cursor: pointer;
}

.container_topheader_items li a, .section4_topheader_right li a, .section4_topheader_right li span, .finder-middle-left {
  color: azure;
}

ul li a {
  text-decoration: none;
}

 /* footer all pages */

.footer_insert_pages {
  color: rgb(180, 180, 180);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background: var(--soft-grey); */
  font-size: 0.6em !important;
  font-weight: 300 !important;
  padding: 2px 15px;
}

.settings_pannel_all a {
 display:flex;
 align-items:center;
 gap:2px;
}

.container-footer-contact > div:nth-child(2) {
  margin-left: 72px;
}
 .custom_footer_pages {
 

}



iframe{
  width: 100%;
  height: 100%;
}
.wrapper {
  position: relative;
}

.wrapper {
  height: 100vh;
  max-height: 100vh;
}

/* 
FONT SIZE  */
.container-topheader {
  font-size: 0.8em;
}
._font_li_header{
  font-size: 0.85em;
}




/*color_style*/

.container-topheader::after{
  opacity: 0.6 !important; 
  background: var(--bg-low_dark_header);
  box-shadow: 0px 0px 8px #000000 !important;
}

.section4_botIcons::after{
 opacity: 0.6 !important; 
background: var(--bg-low_dark_icons);
box-shadow: 0px 0px 6px var(--shadow-low_grey);
}

#footer-container {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.dimension_boxes {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* .same_color_wrapper {
  background: var(--same_color_wrapper);
} */

.modal_boxes {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  background: var(--bg-color_parent);
  z-index: 0;
  border-radius: 7px;
  overflow: hidden;
  /* padding: 5px; */
}
.modal_boxes::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
    background: var(--bg-modal_after);
    opacity: 0.9;
}
.color_overlay {
  background: var(--bg-color_overlay);
  border-radius: 5px;
}
.bottom_signature {
  text-align: center;
  position: relative;
  top: 22px;
  font-size: 0.7em;
  font-weight: 100;
  font-family: SF-Thin;
  color: lightblue;
  opacity: 0.5;
}
/* .modal_boxes:hover {
  background-color: rgba(68, 68, 68, 0.9);
} */

/*top header boxes*/

.circle {
  width: 7px;
  height: 7px;
  border-radius: 50px;
  margin-left: 5px;
}
.close_box {
  cursor: pointer;
}
.topnav-items-box > div:nth-child(1) {
  background: red;
}

.topnav-items-box > div:nth-child(2) {
  background: yellow;
}

.topnav-items-box > div:nth-child(3) {
  background: green;
}

.topnav-items-box {
  width: 5%;
  height: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  border-top-left-radius: 0;
  margin-left: 10px;
}
.text_boxes_nav {
  width: 85%;
  text-align: center;
}
.container_top_nav_boxes {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  color: white;
}
.drag-header {
  /* padding: 10px; */
  /* background-color: #2196f3; */
  color: #fff;
  padding:6px;
  color: #8b8b8b85;
  cursor: move;
  /* padding: 2px; */
  font-size: 0.8em;
  font-family: SFUIText;
  text-transform: capitalize
}
/*END top header boxes*/

.linkedinBox,
.githubBox,
.customizeBox,
.chromeBox,
.finderBox {
  position: absolute;
}
.finderBox {
  top: 5%;
  left:20%;
}

.linkedinBox {
  top: 5%;
  left: 20%;
}
.githubBox {
  top: 7%;
  left: 15%;
}
.chromeBox {
  top: 3%;
  left: 5%;
}
.customizeBox {
  top: 6%;
  left: 10%;
}
.container-github,
.container-linkdin {
  /* border: 1px solid #909090; */
  border-top: none !important;
  background: var(--bg-color_overlay);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}



