<!DOCTYPE html>
<html lang="ro">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="./appStyle.css">
  <title>Luna Page</title>
</head>

<body>
  <script>
    document.addEventListener('readystatechange', function() {
  if (document.readyState === 'loading') {
console.log("loading")
  } else if (document.readyState === 'interactive') {
    console.log("interactive")
    // DOM is ready but resources are still loading
  } else if (document.readyState === 'complete') {
    console.log("complete")
    // Document and all resources are loaded
  }
});
  </script>
  <!-- <button  class="box_open" data-modal="modal_display" id="box_display">teetest</button> -->
  <div class="wrapper">
    <header id="header-container" class="header-container"></header>
    <div class="container">
      <div class="container-itemsPage">
        <div class="section4_middle_grid">
          <div class="finder_push finderBox drag-only" id="finder_push"></div>
          <div class="linkedin_push linkedinBox drag-only"></div>
          <div class="github_push githubBox drag-only"></div>
          <div class="chrome_push chromeBox drag-only" id="chrome_push"></div>
          <div class="customize_push customizeBox drag-only" id="customize_push"></div>
          <div class="terminal_push terminalBox drag-only" id="terminal_push"></div>

        </div>
      </div>
    </div>
    <div class="container-mobile" style="display: none">
      <div class="text-container-mobile">
        <h2>Attention:</h2>
        <div>
          this site cannot be run on devices smaller than 1024px, <br />
          <span>please use pc or laptop for better experience</span>
        </div>
        <div>
          recommended resolution <br />
          min:1440px - max:2560px
        </div>
      </div>
      <button class="like-mobile-button btn like__btn" id="like-mobile-button">
        <span id="icon"><i class="far fa-thumbs-up"></i></span>
        <span id="count">0</span> Like
      </button>
      <br />
      <a href="https://www.crafties.ro" target="_blank">run second choice <br />
        <button class="like-mobile-button crafties">
          www.crafties.ro
        </button></a>
    </div>
    <footer id="footer-container" class="footer-container"></footer>
  </div>
  <div id="myDiv"></div>
<style>
  #myDiv {
    position: absolute;
    top: 200px;
    left: 100px;
    color: wheat;
    font-size: 41px;
  }
</style>
<script>

// window.onload = function() {
//     var divCount = document.getElementsByTagName("div").length;
//     var classes = document.querySelectorAll("[class]").length;
//     var aCount = document.getElementsByTagName("a").length;
// console.log("Total number of div elements in the page: " + divCount);
// console.log("Total number of a elements in the page: " + aCount);
// console.log("Total number of a classes in the page: " + classes);
//     var myData = document.documentElement.innerHTML; // Get all the HTML data
//     var length = myData.length; // Get the length of the HTML data
//     console.log("Total number of myData elements in the page: " + length);
//     var counter = 0; // Initialize the counter to 0
//     var intervalId = setInterval(function() {
//       document.getElementById("myDiv").innerHTML = "Data loaded: " + counter + " Html Data"; 
//       counter = counter + 250
//       // Update the div with the current counter value
//       counter++; // Increment the counter
//       // console.log(counter,"HTML DATA")
//       if ((counter) > length) {
//         clearInterval(intervalId); // Stop the counting animation when the counter reaches the length of the HTML data
//       }
//     }, 10); // Set the interval to update the div every 10 milliseconds

//     setTimeout(function() {
//       clearInterval(intervalId); // Stop the counting animation after 3 secondss
//       document.getElementById("myDiv").innerHTML = "Data loaded: " + length + " html Data"; 
//       console.log(document.getElementById("myDiv").innerHTML = "Data loaded: " + length + "  html Data")
//       // Display the length of the HTML data in the div after the counting animation is complete
//     }, 1500) // Set the timeout to stop the counting animation after 3 seconds
 
//   }



</script>
  <script>
    // function openModalBG() {
    //   document.getElementById("bg_change").style.display = "block";
    //   console.log("gasgasgasgs");
    //   alert("test");
    // }

    function selectImage(imageUrl) {
      
      document.body.style.backgroundImage = `url('${imageUrl}')`;
      // closeModalBG();
    }
 
  

    // function closeModalBG() {
    //   document.getElementById("bg_change").style.display = "none";
    // }
  </script>
  <!-- 
  <div id="bg_change" class="bg_change">
    <div class="modal-content-bg">
      <img src="/template/assets/png/nature1.jpg" onclick="selectImage('/template/assets/png/nature1.jpg')">
      <img src="/template/assets/png/nature1.jpg" onclick="selectImage('/template/assets/png/nature1.jpg')">
      <img src="/template/assets/png/nature1.jpg" onclick="selectImage('/template/assets/png/nature1.jpg')">
      <img src="/template/assets/png/nature1.jpg" onclick="selectImage('/template/assets/png/nature1.jpg')">
    </div> -->
  <script src="./index.js"></script>
  <script type="module" src="app.js" async></script>
</body>

</html>