<div class="modal_boxes" id="modal_network">
  <div class="network_wrapper dimension_boxes ">
    <div class="insert_header_box network_title"></div>
    <div class="container-network _wrapper_social">
      <div class="_parent_social">
        <div class="_parent_title animation_parent d-flex-center d-flex-row-reverse">
          <div class="_child_icon d-flex-center _insert_icon">
            k
          </div>
          <div class="_child_title _insert_title"></div>
        </div>
        <div class="_parent_subtitle text_animation _insert_subtitle">

        </div>
        <a href="#" class="a_social _insert_link">
          <button class="btn-social btn_social_large btn-social-animation" id="get_data_btn">
            connect
          </button>
        </a>
        <div class="_social_loading_bar_parent">
          <div class="_social_loading_bar loading-animation"></div>
        </div>
        <div class="_social_motto _insert_motto"></div>
        <div class="_insert_motto_name"></div>
      </div>
    </div>
    <div class="wrapper_users">
      <button id="insbtn" style="display: none">Submit</button>
      <div class="network_header_top d-flex-row-reverse d-flex-between d-flex">
        <button class="btn_social_large box_open btn-network" data-modal="modal_admin" id="box_admin">
          Join Network
        </button>

        <div class="network_text">
          <h2 class="h2_network">Network</h2>
          <p class="motto_network">Connecting People, like Nokia”</p>
        </div>
      </div>
      <div class="d-flex-column d-flex-center wrapp_get">
        <br />
        <input type="search" class="search_big _search _search_network" placeholder="search users" />
        <div id="container_get" class="container_get d-flex-row d-flex-center"></div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#get_data_btn').on('click', function () {
    var networkContainer = $('.container-network');
    networkContainer.hide();
    // if ($(this).hasClass('isClicked')) {
    //   networkContainer.hide();
    // } else {
    //   networkContainer.show();
    // }

    $(this).toggleClass('isClicked');
  });
// const buttonS = document.querySelector('._user_boxModals_button');
// const networkContainer = document.querySelector('._parent_social');
//   $(buttonS).on('click', function() {
//     if(button.isClicked){
//       networkContainer.style.display = 'none';
//     } else {
//     networkContainer.style.display = 'flex';
//   }
//   button.isClicked = !button.isClicked;
//   // Select the wrapper_users element

// });

</script>