.container-display-none {
  display: none;
}
.network_wrapper {
  width: calc(85em - 10px);
  height: var(--containers_height);
  /* overflow-y: scroll; */
}
.container_get {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container_get::-webkit-scrollbar {
  display: none;
}
/* #modal_network {
  display: block !important;
} */
.wrapper_users {
  /* background-color: #6e6e6e; */
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: start;
  margin: 0 auto;
}

.user-container {
  background: var(--card_container);
  border-radius: 14px;
  border: 2px solid #6c6c6c;
  box-shadow: 5px 6px 1px 0px #ffae1b;
  padding: 1em;
}

.user_avatar {
  /* background-image: url(/template/assets/png/_cards/avatar2.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 100%;
  border: 2px solid var(--user_border);
  position: relative;
}
.user_avatar::after {
  content: "";
  display: flex;
  position: absolute;
  top: 20px;
  left: -43px;
  justify-content: center;
  color: var(--card_button);
  border: 2px solid var(--user_border);
  font-size: 48px;
  align-items: center;
  width: 146px;
  z-index: 0;
  height: 35px;
  background: var(--card_button);
}
.user_likes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 75px;
  border-radius: 5px;
}
.user_likes p {
  display: flex;
  padding: 0.2em;
  gap: 3px;
  align-items: center;
  color: var(--card_text);
  cursor: pointer;
}
.user_like p .material-symbols-outlined {
  font-size: 23px;
}
.user_avatar_img {
  width: fit-content;
  height: 100%;
  z-index: 2;
}
.container_get {
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2em 0;
  gap: 30px;
  height: 625px;
  overflow-y: scroll;
  font-family: "SF-Regular";
}
/* .wrapp_get {
  overflow-y: scroll;
} */
/* #modal_network {
  display: block !important;
} */
/* .btn-network {
  align-self:flex-end;
} */
.user-container {
  width: 400px;
  min-width: 350px;
  max-width: 490px;
  height: fit-content;
  position: relative;
  margin-bottom: 8px;
  overflow: hidden;

  /* border: 1px solid black; */
}

.dateAdded_user {
  display: flex;
  white-space: break-spaces;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 0px;
  color: black;
  right: 0px;
  width: 150px;
  height: 20px;
  font-size: 0.75em;
  background-color: var(--card_button);
  border-top-right-radius: 10px;
}
/* .user_section_hide {
  display: none;
} */

.card_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  gap: 5px;
  /* border: 1px solid black; */
}
.btn_user_card {
  background: var(--card_button);
  color: black;
}
.user_avatar {
  height: 80px;
  width: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px 8px;
}
.user_fullName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 20px; */
  width: 100%;
  max-width: 70%;
  margin-top: 5px;
  min-width: fit-content;
  text-align: end;
  text-transform: uppercase;
  border: none !important;
  padding: 10px 0 !important;
}
.user_firstName {
  font-size: 1.2em;
  margin-top: -5px;
  font-family: var(--card_title_font);
  color: var(--card_title);
}
.user_lastName {
  font-size: 1.3em;
  font-family: var(--card_title_font);
  color: var(--card_title);
}
.user_section {
  font-size: 0.8em;
  margin-top: -0.8px;
  font-family: var(--card_ocupation_font);
  font-style: oblique;
  letter-spacing: -0.9px;
  margin-right: 5px;
  text-transform: capitalize;
}
.user_ {
  border: 1px solid #484848;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  text-align: end;
}
.user_font {
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  color: var(--card_text);
}
.user_span {
  font-size: 0.8em;
  margin: auto 0;
}
.user_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0 0;
  margin: 0 8px;
}
.network_header_top {
  height: 55px;
  margin: 0px 0px 10px;
  /* border-top: 1px solid white; */
  padding: 0em 1.4em;
  /* align-items: flex-end; */
}

.motto_network {
  font-family: "SF-Thin";
  font-style: oblique;
  letter-spacing: 0.6px;
  font-size: 0.7em;
  position: absolute;
  top: 76px;
}
.network_text {
  text-align: start;
  color: var(--text-azure);
  line-height: 0.94;
}
.h2_network {
  font-size: 2.7em;
}

._search_network {
  /* align-self: flex-end; */
  width: 50%;
  padding: 0.5em;
  border-radius: 4px;
  outline: none;
  border: none;
  margin-bottom: 16px;
}
.wrapp_get {
  border-top: 1px solid #ebebeb;
}

.container-network {
  position: absolute !important;
  width: 100%;
  z-index: 1;
}
.user_font{
  font-weight: 700;
}
.user_span {
  font-weight: 400 !important;
}
