.container-display-none {
  display: none;
}
.network_wrapper {
  width: var(--containers_width);
  height: var(--containers_height);
  /* overflow-y: scroll; */
}
.container_get {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container_get::-webkit-scrollbar {
  display: none;
}
.wrapper_users {
  /* background-color: #6e6e6e; */
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: start;
  margin: 0 auto;
}

.user-container {
  background: white;
  border-radius: 14px;
  border: 1px solid black;
  padding: 1em;
}

.user_avatar {
  /* background-image: url(/template/assets/png/_cards/avatar2.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.user_avatar_img {
  width: fit-content;
  height: 100%;
}
.container_get {
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  gap: 19px;
  height: 625px;
  overflow-y: scroll;
  font-family: "SF-Regular";
}
/* .wrapp_get {
  overflow-y: scroll;
} */
/* #modal_network {
  display: block !important;
} */
/* .btn-network {
  align-self:flex-end;
} */
.user-container {
  width: 400px;
  min-width: 350px;
  max-width: 490px;
  height: fit-content;
  position: relative;
  margin-bottom: 8px;

  /* border: 1px solid black; */
}
.user-container:after {
  content: ">";
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  color: white;
  position: absolute;
  bottom: -26px;
  left: 45%;
  width: 20px;
  height: 50px;
  background-color: #1071a5;
  border-radius: 10px;
}

/* .user_section_hide {
  display: none;
} */

.card_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  gap: 5px;
  /* border: 1px solid black; */
}

.user_avatar {
  height: 80px;
  width: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px 8px;
}
.user_fullName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 20px; */
  width: 100%;
  max-width: 70%;
  min-width: fit-content;
  text-align: end;
  text-transform: uppercase;
  border: none !important;
  padding: 10px 0 !important;
}
.user_firstName {
  font-size: 1.2em;
  margin-top: -5px;
  font-family: "SF-Black";
}
.user_lastName {
  font-size: 1.3em;
  font-family: "SF-Black";
}
.user_section {
  font-size: 0.8em;
  margin-top: -0.8px;
  font-family: "SFUIText";
  font-style: oblique;
  letter-spacing: -0.9px;
  margin-right: 5px;
  text-transform: capitalize;
}
.user_ {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  text-align: end;
}
.user_font {
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
}
.user_span {
  font-size: 0.8em;
  margin: auto 0;
}
.user_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0 0;
  margin: 0 8px;
}
.network_header_top {
  height: 55px;
  margin: 0px 0px 10px;
  /* border-top: 1px solid white; */
  padding: 0em 1.4em;
  /* align-items: flex-end; */
}

.motto_network {
  font-family: "SF-Thin";
  font-style: oblique;
  letter-spacing: 0.6px;
  font-size: 0.7em;
  position: absolute;
  top: 76px;
}
.network_text {
  text-align: start;
  color: var(--text-azure);
  line-height: 0.94;
}
.h2_network {
  font-size: 2.7em;
}

._search_network {
  /* align-self: flex-end; */
  width: 50%;
  padding: 0.5em;
  border-radius: 4px;
  outline: none;
  border: none;
  margin-bottom: 16px;
}
.wrapp_get {
  border-top: 1px solid #ebebeb;
}
