<div class="modal_boxes" id="modal_network">
  <div class="network_wrapper dimension_boxes">
    <div class="wrapper_users">
      <!-- <div id="loading-spinner" class="loading-spinner"></div> -->
      <div class="insert_header_box network_title"></div>
      <button id="insbtn" style="display: none">insert</button>
      <div class="network_header_top d-flex-row-reverse d-flex-between d-flex">
        <input type="search" class="search_big _search _search_network" placeholder="search users"/>
        <button class="btn-classic btn-admin box_open" data-modal="modal_admin" id="box_admin">add user</button>
        <!-- <button class="show-hidden-section-btn test">
          Show Hidden Section
        </button> -->
      <div class="network_text">
        <h2 class="h2_network">Network</h2>
        <p class="motto_network">"motto"</p>
      </div>

      </div>
      <div>
      <div id="container_get" class="container_get d-flex-row d-flex-center"></div>
    </div>
    </div>
 
  </div>
</div>
