.container-display-none {
  display: none;
}
.network_wrapper {
  width: var(--containers_width);
  height: var(--containers_height);
overflow-y: scroll;
}
.network_wrapper{
  -ms-overflow-style: none;
  scrollbar-width: none;
} 
 .network_wrapper::-webkit-scrollbar {
  display: none;
}
.wrapper_users {
  /* background-color: #6e6e6e; */
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: start;
  margin: 0 auto;
}

.user-container {
  background: white;
  border-radius: 14px;
  border: 1px solid black;
  padding: 1em;
}

.user_avatar {
  background-image: url(/macOS_Luna_beta/template/assets/png/_cards/avatar2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.user_avatar_img {
  width: fit-content;
  height: 100%;
}
.container_get {
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 19px;
  position: relative;
  /* overflow-y: scroll; */
  border-top: 1px solid white;
  padding: 1em 0;
  font-family: "SF-Regular";
}

#modal_network {
  display: block !important;
}
.user-container {
  width: 280px;
  height: fit-content;
  position: relative;
  margin-bottom: 8px;

  /* border: 1px solid black; */
}
.user-container:after {
  content: ">";
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  color: white;
  position: absolute;
  bottom: -26px;
  left: 45%;
  width: 20px;
  height: 50px;
  background-color: #1071a5;
  border-radius: 10px;
}

.user_section_hide {
  display: none;
}

.card_header {
  display: flex;
  flex-direction: row;
  gap: 5px;
  /* border: 1px solid black; */
}
.user_avatar {
  height: 80px;
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user_fullName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 20px; */
  width: 50%;
  text-align: end;
  text-transform: uppercase;
}
.user_firstName {
  font-size: 1.1em;
}
.user_lastName {
  font-size: 0.7em;
}
.user_ {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  text-align: end;
}
.user_font {
  font-size: 0.9em;
}


.network_header_top {
  height: 75px;
  margin: 10px 0px;
  border-top: 1px solid white;
  padding: 0em 1.4em;
}

.motto_network {
  font-size: 1em;
  font-family: "SF-Ultralight";

}
.network_text {
text-align: start;
color: var(--text-azure);
}
.h2_network {
  font-size: 2.5em;
}

._search_network {
  align-self: flex-end;
}