
<div class="modal_boxes" id="modal_network">
  <div class="network_wrapper dimension_boxes">
    <div class="wrapper_users">
        <!-- <div id="loading-spinner" class="loading-spinner"></div> -->
      <div class="insert_header_box network_title"></div>
      <button id="insbtn" style="display: none">insert</button>
      <input type="search">
      <button class="show-hidden-section-btn test">Show Hidden Section</button>
      <h2>Network</h2>
      <p>"motto"</p>
      <div id="container_get" class="container_get"></div>
    </div>
  </div>
</div>
