/* .iframeLink{
  position: relative;
  left: 0;
  
} */
.topnav-items-box {
  width: unset !important ;
  margin-right: 10px;
}
.chrome-link-right,
.chrome-link-left {
  cursor: pointer;
}
/* .text_boxes_nav {
  display: none;
} */
.chrome-page {
  max-width: 1000px !important;
  width: 1000px !important;
  height: 850px;
  font-family: product-sans !important;
  overflow: hidden;
}

.chrome-page-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chrome-page-container {
  height: 100%;
}

.chrome-topnav-items {
  width: 5% !important;
}

.chrome-page-line {
  width: 100%;
  display: flex;
}

.chrome-page-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.chrome-page-link.chrome-page-line,
.tabcontent,
.tablink,
.chrome-page-bookmark.chrome-page-line,
.chrome-page-left,
.chrome-page-top-header {
  background-color: var(--primaryM-finder-color);
}

.chrome-link-left {
  flex-basis: 10%;
}

.chrome-link-left .link ul {
  display: flex;
  flex-direction: row;
  gap: 7px;
  margin-left: 10px;
}

.chrome-link-left .link {
  display: flex;
  justify-content: center;
  color: var(--text-azure);
}

.chrome-link-middle {
  display: flex;
  flex-direction: row;
  flex-basis: 70%;
}

.chrome-link-search {
  position: relative;
  width: 100%;
}

.chrome-link-search input {
  width: 100%;
  background-color: #121212;
  border-radius: 10px;
  border: 1px solid grey;
  height: 25px;
  outline: none;
  padding: 0 20px;
  color: aliceblue;
}

.chrome-search-icn {
  position: absolute;
  right: 0;
  margin-right: 10px;
  color: var(--text-azure);
  z-index: 200;
  top: 3px;
}



.chrome-link-right {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  margin: 0 13px 0 6px;
  gap: 8px;
  color: var(--text-azure);
}

.chrome-page-middle {
  height: 90%;
}

.chrome-page-bookmark {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: start;
  align-items: center;
  color: var(--text-azure);
  font-size: 12px;
  height: 2.3em;
}



.bookmark-chrome {
  margin-left: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}

.chrome-items-buttons > button {
  padding: 6px 21px;
  border-radius: 2px;
  outline: none;
  border: none;
}

/* .chrome-page-bookmark.chrome-page-line {
  border-top: 1px solid #3e3e3e2a;
} */

.chrome-home-items p {
  font-size: 10px;
  color: grey;
}

.chrome-home-items p a:first-child {
  margin-left: 8px;
  color: blue;
}

.chrome-home-items p a:last-child {
  margin-left: 3px;
  color: blue;
}

/* Style tab links */
.tablink-circle {
  border-radius: 50px;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  margin: auto;
  background: #333;
  color: var(--text-azure);
  margin-top: 8px;
}

.tablink {
  background-color: #333333;
  color: var(--text-azure);
  float: left;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 1px 10px;
  font-size: 0.7em;
  font-weight: 300;
  width: 19%;
  text-align: start;
  height: 30px;
  margin: 0 1px;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: var(--text-azure);
  display: none;
  height: 100%;
}

.chrome-home-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 85%;
  gap: 25px;
  /* top: -42px; */
  /* position: relative; */
}

.chrome-home-items h1 {
  font-size: 5em;
  color: #4c8bf5;
  font-family: unset;
}

h1 span[rel="red"] {
  color: #ea4335;
}

h1 span[rel="yellow"] {
  color: #ffcd46;
}

h1 span[rel="green"] {
  color: #1da462;
}

.chrome-home-items input {
  min-width: 500px;
  height: 34px;
  border-radius: 40px;
  background: none;
  border: 1px solid #80808059;
  outline: none;
  padding: 0 30px;
}

#chrome-home {
  background-color: #f7f7f7;
}

#chrome-news {
  background-color: #f7f7f7;
}

#chrome-contact {
  background-color: #f7f7f7;
}

#chrome-about {
  background-color: white;
}

#chrome-linkdin {
  background-color: purple;
}

/* page css override  */
#linkDin_chrome {
  position: relative;
}
#linkDin_chrome > #modal_four {
  display: flex;
  justify-content: center;
  width: 100%;
  background: white;
}
#linkDin_chrome > #modal_four .wrapper-linkdin {
  width: 100%;
}
#linkDin_chrome > #modal_four .insert_header_box.linkedin_title {
  display: none;
}
#linkDin_chrome > #modal_four .linkDin-icon-page::after {
  color: black;
}

#chrome_push .chrome_title .drag-header {
  margin-right: 10px;
}
.chrome-link-search > .material-symbols-outlined {
  position: absolute;
  left: 12px;
  top: 4px;
  font-size: 14px;
  color: lightgray;
}

.chrome-link-search input[type="search"]::placeholder {
  text-indent: 7px;
  color: rgb(201, 201, 201);
  transform: translateY(-0.5px);
  -webkit-transform: translateY(-0.5px);
}

/* 

start blog */
.chrome-contact {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.container-blog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 85%;
}

#chrome-news,
#chrome-contact {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
  color: black;
}
#chrome-news h3,
#chrome-contact h3 {
  font-size: 4em;
}

#chrome-news p,
#chrome-contact p {
  font-size: 1.4em;
  line-height: 0.8;
  font-weight: 300;
}

#chrome-news .material-symbols-outlined,
#chrome-contact .material-symbols-outlined {
  font-size: 5em;
  animation: material_icon_rotate 10s linear forwards infinite;
}

@keyframes material_icon_rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
