<div class="modal_boxes" id="modal_nine">
  <div class="chrome-page wrapper-chrome dimension_boxes">
    <div class="insert_header_box chrome_title"></div>
    <div class="chrome-page-container">
      <div class="chrome-page-top-header">
        <div class="chrome-page-left" >
          <div class="chrome-page-tabs chrome-page-line">
            <button class="tablink" onclick="openPage('chrome-home', this, 'dimgray')" id="defaultOpen">Home</button>
            <button class="tablink" onclick="openPage('chrome-news', this, 'dimgray')">News</button>
            <button class="tablink" onclick="openPage('chrome-contact', this, 'dimgray')">Contact</button>
            <button class="tablink" onclick="openPage('chrome-about', this, 'dimgray')">Linkedin</button>
            <button class="tablink" onclick="openPage('chrome-linkdin', this, 'dimgray')">Css Battle</button>
            <button class="tablink-circle" onclick="openPage()">+</button>
          </div>
        </div>
        <div class="chrome-page-link chrome-page-line">
          <div class="chrome-link-left">
            <div class="link">
              <ul>
                <li>
                  <a href="#"><i class="fa-solid fa-angle-left"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-solid fa-angle-right"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-solid fa-rotate-right"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fas fa-home"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="chrome-link-middle">
            <div class="chrome-link-search">
              <input type="search" name="chrome-link-searchs" id="chrome-search" />
              <div class="chrome-search-icn">
                <i class="fa-solid fa-code"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
          </div>
          <div class="chrome-link-right">
            <i class="fa-solid fa-bug-slash"></i>
            <i class="fa-solid fa-cannabis"></i>
            <i class="fa-solid fa-brush"></i>
            <i class="fa-solid fa-headphones"></i>
            <i class="fa-solid fa-terminal"></i>
            <i class="fa-brands fa-amazon-pay"></i>
            <i class="fa-solid fa-power-off"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
        <div class="chrome-page-bookmark chrome-page-line">
          <div class="bookmark1 bookmark-chrome"> <i class="fa-solid fa-earth-europe"></i> Filelist</div>
          <div class="bookmark2 bookmark-chrome"> <i class="fa-brands fa-youtube"></i> Youtube</div>
          <div class="bookmark3 bookmark-chrome"> <i class="fa-brands fa-github"></i> Github</div>
          <div class="bookmark4 bookmark-chrome"> <i class="fa-solid fa-code-branch"></i> firebase</div>
          <div class="bookmark5 bookmark-chrome"> <i class="fa-brands fa-js"></i> javascript</div>
          <div class="bookmark6 bookmark-chrome"> <i class="fa-brands fa-html5"></i> html/css</div>
          <div class="bookmark7 bookmark-chrome"> <i class="fa-brands fa-node-js"></i> nodeJs</div>
          <div class="bookmark8 bookmark-chrome"> <i class="fa-regular fa-money-bill-1"></i> onlyFans</div>
        </div>
      </div>
      <div class="chrome-page-middle">
        <div id="chrome-home" class="tabcontent">
          <div class="chrome-home-items">
            <h1>G<span rel="red">o</span rel="red"><span rel="yellow">o</span><span>g</span><span
                rel="green">l</span><span rel="red">e</span></h1>
            <input type="search" placeholder="search...">
            <div class="chrome-items-buttons">
              <button>Google Search</button>
              <button>I'm Feeling Lucky</button>
            </div>
            <p>Google offered in: <a href="#">Romana</a> <a href="#">Engleza</a></p>
          </div>
        </div>
        <div id="chrome-news" class="tabcontent">
          <h3>News</h3>
          <p>Some news this fine day!</p>
        </div>
        <div id="chrome-contact" class="tabcontent">
          <h3>Contact</h3>
          <p>Get in touch, or swing by for a cup of coffee.</p>
        </div>
        <div id="chrome-about" class="tabcontent">
          <!-- <iframe class="iframeLink" src="/template/pages/linkdin/linkdin.html" frameborder="0"></iframe> -->
<div id="linkDin_chrome"></div>
        </div>
        <div id="chrome-linkdin" class="tabcontent">
          <!-- <iframe src="https://cssbattle.dev/player/VbqbK0gKScgciHu3kMxYoIko40B2" frameborder="0"></iframe> -->
        </div>
      </div>
    </div>
  </div>

 
</div>

<script>
  $("#linkDin_chrome").load("/template/pages/linkdin/linkdin.html");
  function openPage(pageName, elmnt, color) {
    // console.log(pageName)
    // console.log(color)
  let i
  let tabcontent
  let tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  // Remove the background color of all tablinks/buttons
  tablinks = document.getElementsByClassName("tablink");

  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }

 document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
  
}
document.getElementById("defaultOpen").click();
</script>

