<div class="modal_boxes" id="modal_chrome">
  <div class="chrome-page wrapper-chrome dimension_boxes">
    <div class="chrome-page-container">
      <div class="chrome-page-top-header">
        <div class="chrome-page-left">
          <div class="insert_header_box chrome_title"></div>
          <div class="chrome-page-tabs chrome-page-line">
            <button class="tablink all_links" onclick="openPage('chrome-home', this, 'red')" id="defaultOpen">Home</button>
            <button class="tablink all_links" onclick="openPage('chrome-news', this, 'blue')">Blog</button>
            <button class="tablink all_links" onclick="openPage('chrome-contact', this, 'yellow')">Contact</button>
            <button class="tablink all_links" onclick="openPage('chrome-linkedin', this, 'purple')">Linkedin</button>
            <button class="tablink all_links" onclick="openPage('chrome-cssBattle', this, 'cyan')">Css Battle</button>
            <button class="tablink-circle all_links" onclick="openPage()">+</button>
          </div>
        </div>
        <div class="chrome-page-link chrome-page-line">
          <div class="chrome-link-left">
            <div class="link">
              <ul>
                <li>
                  <a href="#"><span class="material-symbols-outlined">
                      arrow_back_ios
                    </span></a>
                </li>
                <li>
                  <a href="#"><span class="material-symbols-outlined">
                      arrow_forward_ios
                    </span></a>
                </li>
                <li>
                  <a href="#"><span class="material-symbols-outlined">
                      refresh
                    </span></a>
                </li>
                <li>
                  <a href="#"><span class="material-symbols-outlined">
                      home
                    </span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="chrome-link-middle">
            <div class="chrome-link-search">
              <span class="material-symbols-outlined">
                lock
              </span>
              <input type="search" name="chrome-link-searchs" id="chrome-search" placeholder="https://www.google.com" />
              <div class="chrome-search-icn">
                <span class="material-symbols-outlined">
                  terminal
                </span>
                <span class="material-symbols-outlined">
                  star
                </span>
              </div>
            </div>
          </div>
          <div class="chrome-link-right">
            <span class="material-symbols-outlined">
              pest_control
            </span>
            <span class="material-symbols-outlined">
              spa
            </span>
            <span class="material-symbols-outlined">
              brush
            </span>
            <span class="material-symbols-outlined">
              psychology
            </span>
            <span class="material-symbols-outlined">
              contact_mail
            </span>
            <span class="material-symbols-outlined">
              metabolism
            </span>
            <span class="material-symbols-outlined">
              download
            </span>
            <span class="material-symbols-outlined">
              cloud_done
            </span>
          </div>
        </div>
        <div class="chrome-page-bookmark chrome-page-line">
          <div class="bookmark1 bookmark-chrome"> <span class="material-symbols-outlined">
            receipt_long
            </span> Filelist</div>
          <div class="bookmark2 bookmark-chrome"> <span class="material-symbols-outlined">
            slideshow
            </span> Youtube</div>
          <div class="bookmark3 bookmark-chrome"> <span class="material-symbols-outlined">
            hangout_meeting
            </span> Github</div>
          <div class="bookmark4 bookmark-chrome"> <span class="material-symbols-outlined">
            chromecast_2
            </span>firebase</div>
          <div class="bookmark5 bookmark-chrome"> <span class="material-symbols-outlined">
            paid
            </span> javascript</div>
          <div class="bookmark6 bookmark-chrome"> <span class="material-symbols-outlined">
            code_blocks
            </span> html/css</div>
          <div class="bookmark7 bookmark-chrome"> <span class="material-symbols-outlined">
            folder
            </span> nodeJs</div>
          <div class="bookmark8 bookmark-chrome"> <span class="material-symbols-outlined">
            gpp_maybe
            </span> onlyFans</div>
        </div>
      </div>
      <div class="chrome-page-middle">
        <div id="chrome-home" class="tabcontent chrome-home">
          <div class="chrome-home-items">
            <h1>G<span rel="red">o</span><span rel="red"><span rel="yellow">o</span><span>g</span><span
                  rel="green">l</span><span rel="red">e</span></h1>
            <input type="search" placeholder="search...">
            <div class="chrome-items-buttons">
              <!-- <button>Google Search</button> -->
              <button onclick="openPage('chrome-contact', this, 'dimgray')" style="cursor:pointer;">Google
                Search</button>
              <button>I'm Feeling Lucky</button>
            </div>
            <p>Google offered in: <a href="#">Romana</a> <a href="#">Engleza</a></p>
          </div>
        </div>
        <div id="chrome-news" class="tabcontent chrome-news">
          <div class="container-blog">
            <span class="material-symbols-outlined">
              settings
            </span>
            <h3>Blog</h3>
            <p>Some news this fine day!</p>
            <p>coming soon</p>
          </div>
        </div>
        <div id="chrome-contact" class="tabcontent chrome-contact">
          <div class="container-blog">
            <span class="material-symbols-outlined">
              settings
            </span>
            <h3>Contact</h3>
            <p>Get in touch, or swing by for a cup of coffee.</p>
            <p>coming soon..</p>
          </div>
        </div>
        <div id="chrome-linkedin" class="tabcontent chrome-linkedin">
          <!-- <iframe class="iframeLink" src="/template/pages/linkdin/linkdin.html" frameborder="0"></iframe> -->
          <div id="linkDin_chrome"></div>
        </div>
        <div id="chrome-cssBattle" class="tabcontent chrome-cssBattle">
          <!-- <iframe src="https://cssbattle.dev/player/VbqbK0gKScgciHu3kMxYoIko40B2" frameborder="0"></iframe> -->
        </div>
      </div>
    </div>
  </div>
</div>

<script>
 
  $("#linkDin_chrome").load("/template/pages/linkdin/linkdin.html");


</script>