/* .wrapper_myself {
  padding: 30px;
} */
.container_myself {
  width: fit-content;
  min-height: 500px;
  /* border: 1px solid black; */
  background: var(--skills_firstRow);
  border-radius: 5px;
  display: flex;
  padding: 1em;
  gap: 5px;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}




.first_row {
  height: 140px;
  /* border-top: 1px solid rgb(172, 171, 171); */
  gap: 20px;
  justify-content: space-between !important;
  padding: 0 14px;
  color: var(--myCard-text);
  background: var(--skills_firstRow);
  border-radius: 6px;
  /* border: none; */
  outline: none;
  /* box-shadow: 2px 2px 21px #3f3f3fa1; */
}
.second_row {
  flex-wrap: wrap;
  gap: 6px;
  padding: 0.5em;
  margin: auto;

  border-bottom: white;
}
.third_row {
  width: 100%;
  padding: 0.5em 0;
  /* border-bottom: 1px solid white; */
}
.box_skills {
  width: fit-content;
  padding: 0.2em 1em;
  text-transform: capitalize;
  margin-right: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  background: var(--skills_box);
  color: var(--title_largeText);
  font-size: 0.9em;
}
.box_skills:hover {
  background: aqua;
  transition: background 0.5s ease;
}

._myself_input {
  border-radius: 7px;
  height: 40px;
  width: 100%;
}
.myself_hidden {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
  width: 49%;
  align-items: flex-end;
  color: var(--myCard-text);
}
.myself_chart {
  width: 48%;
  height: 265px;
  margin: auto;
  text-align: center;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* avatar myself */

.my_avatar {
  align-self: center;
  width: 120px;
  height: 120px;
  background: #738874;
  /* border: 1px solid rgb(111 128 119); */
  border-radius: 100%;
  position: relative;
}

.my_avatar::after {
  content: "My name is";
  position: absolute;
  font-family: 'SF-REGULAR';
  top: 23%;
  left: -40px;
  width: 457px;
  height: 50%;
  padding: 5px 18px;
  background: #171717;
  color: var(--myCard-text);
  text-align: end;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: end;
  border-top: none;
  /* box-shadow: 2px 2px 21px #2f2d2da1; */
  border: 2px solid #0f0f0f;
  border-top: none;
}

.my_avatar img {
  height: 100%;
  z-index: 2;
}

.my_fullname {
  width: 300px;
  padding: 10px;
  line-height: 1;
  gap: 3px;
}

.my_fullname > div {
  padding: 0 10px;
  width: 100%;
  text-align: end;
  text-transform: uppercase;
  font-weight: 400;
}

.my_fullname > div:not(._ocp) {
  font-family: "SF-Heavy";
}

.my_fullname ._ln {
  font-size: 1.6em;
}

.my_fullname ._fn {
  font-size: 1em;
}

.my_fullname ._ocp {
  font-style: italic;
  font-size: 0.7em;
}

.my_info_inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  margin: auto 0;
  cursor: pointer;
  border-radius: 5px;
}

.my_info_inside:hover {
  background: #e4dccf;
}

.my_info_inside > span:nth-child(1) {
  text-transform: capitalize;
  font-size: 0.8em;
  font-family: 'SF-Regular';
  font-weight: 400;
}
.my_info_inside > span:nth-child(2) {
  text-transform: lowercase;
  font-family: 'SF-Regular';
  font-size: 0.9em;
  font-weight: 400;
}
