.wrapper_myself {
  padding: 30px;
}
.container_myself {
  width: fit-content;
  min-height: 500px;
  border: 1px solid black;
  background: var(--card_container);
  border-radius: 5px;
  display: flex;
  padding: 1em;
  gap: 5px;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.first_row {
  height: 140px;
  border-top: 1px solid rgb(172, 171, 171);
  gap: 20px;
  justify-content: space-between !important;
  padding: 0 14px;
  color: var(--title_largeText);
  /* background: var(--skills_firstRow); */
  border-radius: 6px;
  border: none;
  outline: none;
  background: linear-gradient(145deg, #a9b0a9, #474f45);
  box-shadow: 4px 4.9px 8px #1c1c1c, -1.3px -2.2px 1px #a6ada6;
}
.second_row {
  flex-wrap: wrap;
  gap: 6px;
  padding: 0.5em;
  margin: auto;
  border-top: 1px solid rgb(172, 171, 171);
  border-bottom: 1px solid rgb(172, 171, 171);
}
.third_row {
  width: 100%;
  padding: 0.5em 0;
  border-bottom: 1px solid rgb(172, 171, 171);
}
.box_skills {
  width: fit-content;
  padding: 0.2em 1em;
  border: 1px solid rgb(192, 192, 192);
  text-transform: capitalize;
  margin-right: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  background: var(--skills_box);
  color: var(--title_largeText);
  font-size: 0.9em;
}
.box_skills:hover {
  background: aqua;
  transition: background 0.5s ease;
}

._myself_input {
  border-radius: 7px;
  height: 40px;
  width: 100%;
}
.myself_hidden {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
  width: 49%;
  align-items: flex-end;
  color: var(--card_text);
}
.myself_chart {
  width: 48%;
  height: 265px;
  margin: auto;
  text-align: center;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #969696;
  border-top: 2px solid #d3ddd0;
  border-right: 2px solid #969696;
  border-left: 2px solid #d3ddd0;
}

/* avatar myself */

.my_avatar {
  align-self: center;
  width: 120px;
  height: 120px;
  background: #6f8077;
  border: 1px solid rgb(111 128 119);
  border-radius: 100%;
  position: relative;
}

.my_avatar::after {
  content: "My name is";
  position: absolute;
  top: 35%;
  left: -40px;
  width: 215px;
  height: 30%;
  padding: 5px;
  background: var(--card_button);
  color: var(--title_largeText);
  text-align: end;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: end;
  border: 2px solid #4c4e4c;
  border-top: none;
  background: linear-gradient(222deg, #afb9af, #6f786c);
  box-shadow: 4px 4.9px 8px #343434, -1.3px -2.2px 1px #acb6ac;
}

.my_avatar img {
  height: 100%;
  z-index: 2;
}

.my_fullname {
  width: 300px;
  padding: 10px;
  line-height: 1;
  gap: 3px;
}

.my_fullname > div {
  padding: 0 10px;
  width: 100%;
  text-align: end;
  text-transform: uppercase;
  font-weight: 400;
}

.my_fullname > div:not(._ocp) {
  font-family: "SF-Heavy";
}

.my_fullname ._ln {
  font-size: 1.6em;
}

.my_fullname ._fn {
  font-size: 1em;
}

.my_fullname ._ocp {
  font-style: italic;
  font-size: 0.7em;
}

.my_info_inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  margin: auto 0;
  cursor: pointer;
  /* border: 1px solid var(--user_border); */
  border: 2px solid #969696;
  border-top: 2px solid #d3ddd0;
  border-right: 2px solid #969696;
  border-left: 2px solid #d3ddd0;
  border-radius: 5px;
}
.my_info_inside:hover {
  background: #e4dccf;
}
.my_info_inside > span:nth-child(1) {
  text-transform: capitalize;
  font-size: 0.8em;
  font-family: 'SF-Regular';
  font-weight: 400;
}
.my_info_inside > span:nth-child(2) {
  text-transform: lowercase;
  font-family: 'SF-Regular';
  font-size: 0.9em;
  font-weight: 400;
}
