<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <style>
    .append_img img {
      height: 50%;
    }

    .container_get {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      height: fit-content;
      gap: 40px;
      position: relative;
      top: 5em;
    }

    .user-container {
      width: 250px;
      height: fit-content;

      /* border: 1px solid black; */
    }
    .user_avatar {
      height: 80px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .user_fullName {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      /* gap: 20px; */
      width: 100%;
    }
    .user_ {
      border: 1px solid black;
      padding: 10px;
    }
    .user_fullName > .user_ {
      width: 50%;
    }
    .container-display-none {
      display: none;
    }
    .wrapper-all {
      width: 100%;
      position: relative;
      top: 7em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  </style>

  <body>
    <div class="container-display-none">
      <div id="data" class="info_s"></div>
      <div id="email" class="info_f"></div>
      <div id="name" class="info_g"></div>
      <div id="username" class="info_h"></div>
      <div id="codepen" class="info_j"></div>
      <!-- <img id="myImage" url="" /> -->

      <div class="append_img" style="width: 200px; height: 200px"></div>
      <div class="testAppend" style="width: 200px; height: 200px"></div>
    </div>

    <div class="wrapper-all">
    <div
      class="containerss"
      style="
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        align-items: center;
        gap: 30px;
      "
    >
      <div>
        <label for="name-input">Name:</label>
        <input type="text" id="firstNamebox" placeholder="Name" />
      </div>
      <div>
        <label for="username-input">lastName:</label>
        <input type="text" id="lastNamebox" placeholder="lastName"  />
      </div>
      <div>
        <label for="username-input">phone:</label>
        <input type="number" id="phonebox" placeholder="phone (optional)"  />
      </div>
      <div>
        <label for="username-input">email:</label>
        <input type="text" id="emailbox"  placeholder="email" />
      </div>
      <div>
        <label for="username-input">section:</label>
        <input type="text" id="sectionbox"  placeholder="what you are ..?" />
      </div>
      <div>
        <label for="username-input">portofolio:</label>
        <input type="text" id="portofoliobox"  placeholder="add link to your, whatever" />
      </div>
      <div>
        <label for="">gender</label>
        <select name="" id="genbox">
          <option value="male">male</option>
          <option value="female">female</option>
        </select>
      </div>
    </div>
    <br />
    <br />
    <div
      class="container-btn"
      style="
        display: flex;
        align-items: center;
        width: 100%;
        background-color: red;
        justify-content: center;
      "
    >
      <br />
      <br />
      <br />
      <button id="insbtn">insert</button>
      <button id="selbtn" disabled>select</button>
      <button id="updBtn" disabled>update</button>
      <button id="delbtn" disabled>delete</button>
      <!-- <button id="submit-button">Submit</button> -->
    </div>
    <br />
    <br />
    <br />
    <div id="container_get" class="container_get"></div>
  </div>

    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-app.js";
      // import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-analytics.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-analytics.js";

      import {
        getFirestore,
        collection,
        getDocs,
        getDoc,
        setDoc,
        doc,
        addDoc,
        updateDoc,
        deleteDoc,
        deleteField,
        onSnapshot,
      } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-firestore.js";
      import {
        getStorage,
        ref,
        getDownloadURL,
        listAll,
      } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-storage.js";
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration

      const firebaseConfig = {
        apiKey: "AIzaSyBaPsn82u0CblmIXb9SktjOvfq2vRqeBPY",
        authDomain: "macos-luna.firebaseapp.com",
        databaseURL:
          "https://macos-luna-default-rtdb.europe-west1.firebasedatabase.app",
        projectId: "macos-luna",
        storageBucket: "macos-luna.appspot.com",
        messagingSenderId: "689056077392",
        appId: "1:689056077392:web:8275d5fe7f18ac35a5a355",
        measurementId: "G-5EMDZ1MDC2",
      };

      // Initialize Firebase
      // async function AddDocument_CustomID() {
      //   let ref = doc(db, "network", RollBox.value);
      //   const docRef = await setDoc(ref, {
      //     NameOfStd: NameBox.value,
      //     RollNo: RollBox.value,
      //     Section: SecBox.value,
      //     Gender: GenBox.value,
      //   })

      //     .then(() => {
      //       alert("data added succesfully");
      //     })
      //     .catch((error) => {
      //       alert("unsecc operation. error:" + error);
      //     });
      //     console.log("document id is" + docRef);
      // }

      // Getting Document
      const app = initializeApp(firebaseConfig);
      const db = getFirestore(app);
      const storage = getStorage(app);

      let firstNameBox = document.getElementById("firstNamebox");
      let lastNameBox = document.getElementById("lastNamebox");

      let phoneBox = document.getElementById("phonebox");
      let emailBox = document.getElementById("emailbox");
      let genBox = document.getElementById("genbox");
      let sectionBox = document.getElementById("sectionbox");
      let portofolioBox = document.getElementById("portofoliobox");

      let insBtn = document.getElementById("insbtn");
      let selBtn = document.getElementById("selbtn");
      let updBtn = document.getElementById("updBtn");
      let delBtn = document.getElementById("delbtn");

      let newDocRef;

      async function AddDocument_AutoID() {
        let ref = collection(db, "network");
        const newDocRef = doc(ref);
        const data = {
          avatar: "avatar",
          firstName: firstNameBox.value,
          lastName: lastNameBox.value,
          phone: phoneBox.value,
          email: emailBox.value,
          section: sectionBox.value,
          gender: genBox.value,
          portofolio:portofolioBox.value,
          idkeys: newDocRef.id,
        };
        // Validate the data before adding to Firestore
        if (
          !data.firstName ||
          !data.lastName ||
          !data.portofolio ||
          !data.section ||
          !data.phone ||
          !data.email ||
          !data.gender
        ) {
          console.error("Invalid data:", data);
          alert("add some data");
          return;
        }

        await setDoc(newDocRef, data)
          .then(() => {
            // console.log("data added succesfully");
            console.log("data added succesfully");
            // reset form inputs
            firstNameBox.value = "";
            lastNameBox.value = "";
            phoneBox.value = "";
            portofolioBox.value = "",
            emailBox.value = "";
            genBox.value = "";
            sectionBox.value = "";
          })
          .catch((error) => {
            alert("unsecc operation. error:" + error);
          });
        console.log("document id is" + newDocRef.id);
      }

      async function GetADocument() {
        let ref = doc(db, "network");
        const docSnap = await getDoc(ref);

        if (docSnap.exists()) {
          firstNameBox.value = docSnap.data().firstName;
          lastNameBox.value = docSnap.data().lastName;
          emailBox.value = docSnap.data().email;
          genBox.value = docSnap.data().gender;
          phoneBox.value = docSnap.data().phone;
          sectionBox.value = docSnap.data().section;
          portofolioBox.value = docSnap.data().portofolio;
        } else {
          alert("no suck a document");
        }
      }

      // Update document

      // async function UpdateFieldsInADocument() {
      //   let ref = doc(db, "network", RollBox.value);
      //   await updateDoc(ref, {
      //     NameOfStd: NameBox.value,
      //     Section: SecBox.value,
      //     Gender: GenBox.value,
      //     RollNo: RollBox.value,
      //   })
      //     .then(() => {
      //       alert("data updated succesfully");
      //     })
      //     .catch((error) => {
      //       alert("unsecc operation. error:" + error);
      //     });
      // }

      // delete document

      // async function DeleteDocument() {
      //   let ref = collection(db, "network", RollBox.value);
      //   const docSnap = await getDoc(ref);

      //   if (!docSnap.exists()) {
      //     alert("document does not exist");
      //     return;
      //   }
      //   await deleteDoc(ref)
      //     .then(() => {
      //       alert("data deleted succesfully");
      //     })
      //     .catch((error) => {
      //       alert("unsecc operation. error:" + error);
      //     });
      // }

      // insBtn.addEventListener("click", AddDocument_CustomID);
      insBtn.addEventListener("click", AddDocument_AutoID);
      // selBtn.addEventListener("click", GetADocument);
      // updBtn.addEventListener("click", UpdateFieldsInADocument);
      // delBtn.addEventListener("click", DeleteDocument);

      // get reference to container element in HTML
      // const container = document.getElementById("container_get");

      // retrieve all documents from collection "network"
      async function GetAllDocuments() {
        const collectionRef = collection(db, "network");
        // const querySnapshot = await getDocs(collectionRef);
        const container = document.querySelector("#container_get");
        let divs = "";
        onSnapshot(collectionRef, (querySnapshot) => {
          // Clear the previous user containers from the container element
          container.innerHTML = "";

          querySnapshot.forEach((doc) => {
            const userDiv = `
        <div class="user-container">
          <div class="user_avatar user_">${doc.data().avatar}</div>
          <div class= user_fullName>
        <div class="user_firstName user_">${doc.data().firstName}</div> 
        <div class="user_lastName user_">${doc.data().lastName}</div>
         </div>
         <div class="user_gender user_">${doc.data().gender}</div>
         <div class="user_section user_">${doc.data().section}</div>
         <div class="user_portofolio user_">${doc.data().portofolio}</div>
          <div class="user_phone user_">${doc.data().phone}</div>
          <div class="user_email user_">${doc.data().email}</div>
          <div class="user_idkeys user_">${doc.data().idkeys}</div>
        </div>
      `;
            container.insertAdjacentHTML("beforeend", userDiv);
          });
        });
      }

      GetAllDocuments();
      // const storage = getStorage(app);
      // const analytics = getAnalytics(app);

      // const emailElem = document.getElementById("email");
      // const nameElem = document.getElementById("name");
      // const usernameElem = document.getElementById("username");
      // const messageElem = document.getElementById("message");
      // const codepenElem = document.getElementById("codepen");
      // const imgAppend = document.querySelector(".append_img");
      // const testAppend = document.querySelector(".testAppend");

      // const docRef_onwer = getDocs(collection(db, "onwer"));
      // const imagesRef = ref(storage, "gs://macos-luna.appspot.com/Images");

      // docRef_onwer
      //   .then((querySnapshot) => {
      //     querySnapshot.forEach((doc) => {
      //       if (doc.exists) {
      //         const data = doc.data();
      //         emailElem.innerHTML = data.email;
      //         nameElem.innerHTML = data.firstName;
      //         usernameElem.innerHTML = data.lastName;
      //         testAppend.innerHTML = data.imagess;

      //         // codepenElem.innerHTML = data.social.codepen;

      //         // const imageRefss = data.imagess;
      //         // console.log(imageRefs,"imageRefs")
      //         // console.log(imageRefs, "imageRefs");
      //       } else {
      //         console.log("No such document!");
      //       }
      //     });
      //   })
      //   .catch((error) => {
      //     console.log("Error getting documents: ", error);
      //   });

      // listAll(imagesRef)
      //   .then((res) => {
      //     res.items.forEach((itemRef) => {
      //       getDownloadURL(itemRef)
      //         .then((url) => {
      //           const img_c = document.createElement("img");
      //           img_c.src = url;
      //           imgAppend.appendChild(img_c);
      //         })
      //         .catch((error) => {
      //           console.error(error);
      //         });
      //     });
      //   })
      //   .catch((error) => {
      //     console.error(error);
      //   });
      // const imageRef = ref(
      //   storage,
      //   "gs://macos-luna.appspot.com/Images/macos2.webp"
      // );
      // getDownloadURL(imageRef)
      //   .then((url) => {
      //     console.log(url);
      //     console.log(imageRef);
      //     const img = document.getElementById("myImage");
      //     console.log(img, "img");
      //     img.src = url;
      //   })
      //   .catch((error) => {
      //     console.log(error);
      //   });
    </script>
  </body>
</html>
