
.terminal-container {
  width: 800px;
  max-width: 800px;
  height: 550px;
  max-height: 550px;
  background-color: #333;
  border-radius: 5px;
  overflow: hidden;
}

.terminal-top-nav {
  color: white;
  width: 35%;
}

.terminal-body .terminal-text li {
  color: var(--text-azure);
  font-size: 12px;
  letter-spacing: 1.1px;
  font-weight: 300;
}
.terminal-text li a {
  color: white;
  font-size: 18px !important;
}
.terminal-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.terminal-body {
  /* background-color: rgb(24, 24, 24); */
  padding: 10px;
  height: 90%;
}

.terminal-topnav {
  display: flex;
  align-items: center;
}

.text-terminal-top {
  color: var(--text-low-finder-color);
  font-size: 0.7em;
}
