.terminal-container {
  width: var(--containers_width);
  height: var(--containers_height);
}

.terminal-top-nav {
  color: white;
  width: 35%;
}

.terminal-body .terminal-text li {
  color: var(--text-azure);
  font-size: 12px;
  letter-spacing: 1.1px;
  font-weight: 300;
}
.terminal-text li a {
  color: white;
  font-size: 18px !important;
}
.terminal-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.terminal_title {
  width: 100%;
}
.terminal-body {
  /* background-color: rgb(24, 24, 24); */
  padding: 10px;
  height: 92%;
}

.terminal-topnav {
  display: flex;
  align-items: center;
}

.text-terminal-top {
  color: var(--text-low-finder-color);
  font-size: 0.7em;
}
