

    <div class="_modal_adobe">
      <div class="modal_splash splash_adobe">
        <div class="container-Adobe">
          <div class="left_side_adobe _sideAdobe">
            <div class="_textLogo">
              <div class="_img_adobe">
                <div class="_text_inside">PR</div>
              </div>
              <span class="_title_adobe"></span>
            </div>
            <br />
            <div class="_info_adobe">
              <p>@ 1991-2023 Adobe. all rihts reserved</p>
              <p>Artwork by Kaiwan Shaban, For mre deails and legal notices, go to About Premiere Pro Screen</p>
       
              <p class="_loading_text_adobe"> <span>Loading:</span> C://documents</p>
            </div>
            <br />
            <div class="_textLogo_bottom">
              <div class="_img_bottom_adobe"></div>
              <span>Adobe Creative Cloud</span>
            </div>
          </div>
          <div class="right_side_adobe _sideAdobe">
            <div class="divPictureAdobe"></div>
          </div>
        </div>
      </div>
    </div>

