<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./premiere.css" />
    <link rel="stylesheet" href="/template/pages/icons/icons.css" />
    <title>Document</title>
  </head>
  <body> -->
    <!-- <button class="adobe-icons _click_premiere">adobe-premiere</button>
    <button class="adobe-icons _click_photoshop">adobe-photoshop</button>
    <button class="adobe-icons _click_xD">adobe-afterEffects</button> -->
    <div class="modal_display modal_boxes" id="modal_display">
    <div class="_modal_adobe">
      <div class="insert_header_box adobe_title"></div>
      <div class="modal_splash splash_adobe">
        <div class="container-premiere">
          <div class="left_side_adobe _sideAdobe">
            <div class="_textLogo">
              <div class="_img_adobe">
                <div class="_text_inside">PR</div>
              </div>
              <span class="_title_adobe"></span>
            </div>
            <br />
            <div class="_info_adobe">
              <p>@ 1991-2023 Adobe. all rihts reserved</p>
              <p>some info 2 rows</p>
              <p class="_loading_text_adobe">loading text</p>
            </div>
            <br />
            <div class="_textLogo_bottom">
              <div class="_img_bottom_adobe"></div>
              <span>Adobe Creative Cloud</span>
            </div>
          </div>
          <div class="right_side_adobe _sideAdobe">
            <div class="divPictureAdobe"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </body>
</html> -->
