<!-- <div class = "text_loading"><div id="text_loading" class="sssss"></div> -->

    <div class="_modal_adobe">
      <div class="modal_splash splash_adobe">
        <div class="container-Adobe">
          <div class="left_side_adobe _sideAdobe">
            <div class="_textLogo">
              <div class="_img_adobe">
                <div class="_text_inside">PR</div>
              </div>
              <span class="_title_adobe"></span>
            </div>
            <br />
            <div class="_info_adobe">
              <p>@ 1991-2023 Adobe. all rihts reserved</p>
              <p>Artwork by Kaiwan Shaban, For mre deails and legal notices, go to About Premiere Pro Screen</p>
              <p class="_loading_text_adobe"> <span>Loading:\Internet Explorer\\iexplore.exe"</span></p>
              <!-- <div id="result_adobe"></div> -->
            </div>
            <br />
            <div class="_textLogo_bottom">
              <div class="_img_bottom_adobe"></div>
              <span>Adobe Creative Cloud</span>
            </div>
          </div>
          <div class="right_side_adobe _sideAdobe">
            <div class="divPictureAdobe"></div>
          </div>
        </div>
      </div>
    </div>
<!-- 
<script>
    let text_loading = [
  "\Internet Explorer\\iexplore.exe",
  "\Application\\chrome.exe",
  "\Username\\Desktop\\document.docx",
  "\System32\\notepad.exe",
  "\\work\\project\\file.doc",
    "\Internet Explorer\\iexplore.exe",
  "\Application\\chrome.exe",
  "\Username\\Desktop\\document.docx",
  "\System32\\notepad.exe",
  "\\work\\project\\file.doc",
    "\Internet Explorer\\iexplore.exe"
  ]

let count = text_loading.length;
let loopCount = 200;
console.log(count,"test7")
console.log(loopCount,"test6")

function startCountdown() {
  let intervalId = setInterval(() => {
    count--;
    console.log(count,"test5")
   let resultDiv = document.getElementById('text_loading');
   resultDiv.innerHTML = text_loading[count % text_loading.length];
   console.log( resultDiv,"test")
    if (count == 0) {
      loopCount--;
      if (loopCount == 0) {
        console.log(count,"test1")
        clearInterval(intervalId);
      } else {
        count = text_loading.length;
      }
    }
    $("#result_adobe").append(resultDiv);
  }, 1000);
}

startCountdown();

</script> -->