<div class="container-topheader">
  <div class="container_topheader_left">
    <ul class="container_topheader_items">
      <li>
        <button data-popup-target=".popupMac" class="apple_logo-container" id="logoAppleButton">
          <i class="fab fa-apple apple_logoM"></i>
        </button>
      </li>
      <li>
        <div class="dropDown-container">
          <ul class="dropDown-menu">
            <li class="dropdown-button">
              <a class="dropBtn primary-text-dropdown" href="#">Finder</a>
              <ul class="dropMenu-list">
                <li><a href="#">Show Desktop Icons</a></li>
                <hr />
                <li><a href="#">Dark Mode - White Modes</a></li>
                <hr />
                <li><a href="#">Change Wallpapper</a></li>
                <li><a href="#">Open Terminal</a></li>
                <li><a href="#">Open Projects</a></li>
                <li><a href="#">Check Internet</a></li>
                <li><a href="#">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropDown-container">
          <ul class="dropDown-menu">
            <li class="dropdown-button">
              <a class="dropBtn" href="#">file</a>
              <ul class="dropMenu-list">
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropDown-container">
          <ul class="dropDown-menu">
            <li class="dropdown-button">
              <a class="dropBtn" href="#">edit</a>
              <ul class="dropMenu-list">
                <li><a href="#">Dark Mode - White Mode</a></li>
                <li><a href="#">Change Wallpapper</a></li>
                <li><a href="#">Open Terminal</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropDown-container">
          <ul class="dropDown-menu">
            <li class="dropdown-button">
              <a class="dropBtn" href="#">view</a>
              <ul class="dropMenu-list">
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropDown-container">
          <ul class="dropDown-menu">
            <li class="dropdown-button">
              <a class="dropBtn" href="#">go</a>
              <ul class="dropMenu-list">
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropDown-container">
          <ul class="dropDown-menu">
            <li class="dropdown-button">
              <a class="dropBtn" href="#">window</a>
              <ul class="dropMenu-list">
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropDown-container">
          <ul class="dropDown-menu">
            <li class="dropdown-button">
              <a class="dropBtn" href="#">Help</a>
              <ul class="dropMenu-list">
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="section4_topheader_right">
    <ul>
      <li class="dropdown-button drop_icons">
        <span class="material-symbols-outlined"> wifi </span>
        <div class="dropMenu-list list_icons_container wifi_container">
          <div class="wifi_menu menu_icons"> </div>
          <ul style="display:block " class="menu_icons_ul">
            <li><a href="#">wi-fi:on</a></li>
            <li><a href="#">interface Name:enD</a></li>
            <li><a href="#">Address: xx:x4:54:82:x5:01</a></li>
            <hr>
            <li><a href="#">Enable Wi-Fi Logging</a></li>
            <li><a href="#">Create Diagnostics Report..</a></li>
            <li><a href="#">Open Wireless Diagnostics</a></li>
            <hr>
            <h5>Preferred Networks</h5>
            <ul style="display:block">
              <li><a href="#" class="symbols_container">
                <span class="material-symbols-outlined symbols_right_dropNav">
                    wifi
                  </span>
                  <span> Secure Wi-Fi </span>
                  <span class="material-symbols-outlined symbol_left_dropNav">
                    lock
                  </span>
                </a>
              </li>
              <li><a href="#">IP AddressL:187:211:0:10</a></li>
              <li><a href="#">Router: 010:1001:0:10</a></li>
              <li><a href="#">security:WPA2 Enterprise</a></li>
              <li><a href="#">BSSID:10:00:20:00:34:01:29</a></li>
            </ul>
            <hr>
            <li><a href="#"><span class="material-symbols-outlined">
                  wifi
                </span>Home_wifi<span class="material-symbols-outlined">
                  lock
                </span></a></li>
            <hr>
            <li class="network"><a href="#">join other network<span
                  class="material-symbols-outlined">volume_up</span></a></li>
            <hr>
            <li><a href="#">network Preference</a></li>
          </ul>

        </div>
      </li>
      <li class="dropdown-button">
        <a href="#">
          <span class="material-symbols-outlined"> volume_up </span>
          <div class="dropMenu-list volume_container">
            <div class="volume_menu menu_icons">
              <input type="range" id="rangeInput" min="1" max="10" value="5" class="range_input">
              <p id="output"></p>
            </div>
          </div>
        </a>
      </li>
      <li class="dropdown-button">
        <a href="#">
          <span class="material-symbols-outlined"> bluetooth </span>
          <div class="dropMenu-list">
            <div class="bluetooth_menu menu_icons">
              <span class="material-symbols-outlined"> volume_up </span>
            </div>
          </div>
        </a>
      </li>
      <script>

      </script>
      <li>
        <a href="#"><span class="material-symbols-outlined"> battery_horiz_050 </span></a>
      </li>
      <li><a href="#">43%</a></li>

      <li>
        <a href="#"><span class="material-symbols-outlined"> search </span></a>
      </li>
      <li>
        <a href="#"><span class="material-symbols-outlined"> home </span></a>
      </li>

      <li id="clock_top"><a href="#">Tue 6:42 AM</a></li>
      <li>
        <a href="#" class="fullname-standard fullname-thin fullname-bold">
          Marian Iordache</a>
      </li>
      <li>
        <a href="#"><span class="material-symbols-outlined"> settings </span></a>
      </li>
    </ul>
  </div>
</div>