<div class="container-topheader">
  <div class="container_topheader_left">
    <ul class="container_topheader_items">
      <li>
        <button data-popup-target=".popupMac" class="apple_logo-container" id="logoAppleButton">
          <i class="fab fa-apple apple_logoM"></i>
        </button>
      </li>
      <li>
        <div class="dropDown-container">
          <ul class="dropDown-menu">
            <li class="dropdown-button">
              <a class="dropBtn primary-text-dropdown" href="#">Finder</a>
              <ul class="dropMenu-list">
                <li><a href="#">Show Desktop Icons</a></li>
                <hr />
                <li><a href="#">Dark Mode - White Modes</a></li>
                <hr />
                <li><a href="#">Change Wallpapper</a></li>
                <li><a href="#">Open Terminal</a></li>
                <li><a href="#">Open Projects</a></li>
                <li><a href="#">Check Internet</a></li>
                <li><a href="#">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropDown-container">
          <ul class="dropDown-menu">
            <li class="dropdown-button">
              <a class="dropBtn" href="#">file</a>
              <ul class="dropMenu-list">
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropDown-container">
          <ul class="dropDown-menu">
            <li class="dropdown-button">
              <a class="dropBtn" href="#">edit</a>
              <ul class="dropMenu-list">
                <li><a href="#">Dark Mode - White Mode</a></li>
                <li><a href="#">Change Wallpapper</a></li>
                <li><a href="#">Open Terminal</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropDown-container">
          <ul class="dropDown-menu">
            <li class="dropdown-button">
              <a class="dropBtn" href="#">view</a>
              <ul class="dropMenu-list">
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropDown-container">
          <ul class="dropDown-menu">
            <li class="dropdown-button">
              <a class="dropBtn" href="#">go</a>
              <ul class="dropMenu-list">
                <li><a href="#">Open</a></li>
                <li><a href="#">Open</a></li>
                <li><a href="#">Open</a></li>
                <li><a href="#">Download Cv</a></li>
                <li><a href="#">Open Projects</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropDown-container">
          <ul class="dropDown-menu">
            <li class="dropdown-button">
              <a class="dropBtn" href="#">window</a>
              <ul class="dropMenu-list">
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropDown-container">
          <ul class="dropDown-menu">
            <li class="dropdown-button">
              <a class="dropBtn" href="#">Help</a>
              <ul class="dropMenu-list">
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="section4_topheader_right">
    <ul>
      <li class="dropdown-button drop_icons">
        <span class="material-symbols-outlined">wifi</span>
        <div class="dropMenu-list list_icons_container wifi_container">
          <div class="wifi_menu menu_icons"></div>
          <ul style="display: block" class="menu_icons_ul">
            <li class="_center_li_nav">
              <a href="#">Wi-Fi </a><span class="check-box nav_checkBox"> </span>
            </li>
            <li><a href="#">interface Name:enD</a></li>
            <li><a href="#">Address: xx:x4:54:82:x5:01</a></li>

            <hr />
            <br />
            <li><a href="#">Enable Wi-Fi Logging</a></li>
            <li><a href="#">Create Diagnostics Report..</a></li>
            <li><a href="#">Open Wireless Diagnostics</a></li>

            <hr />
            <br />
            <h5>Preferred Networks</h5>
            <ul style="display: block">
              <li>
                <a href="#" class="symbols_container">
                  <span class="material-symbols-outlined symbols_right_dropNav">
                    wifi
                  </span>
                  <span> Secure Wi-Fi </span>
                  <span class="material-symbols-outlined symbol_left_dropNav">
                    lock
                  </span>
                </a>
              </li>
              <li class="_right_li_nav">
                <a href="#">IP AddressL: 187:211:0:10</a>
              </li>
              <li class="_right_li_nav">
                <a href="#">Router: 010:1001:0:10</a>
              </li>
              <li class="_right_li_nav">
                <a href="#">Security: WPA2 Enterprise</a>
              </li>
              <li class="_right_li_nav">
                <a href="#">BSSID:10: 00:20:00:34:01:29</a>
              </li>
              <li class="_right_li_nav">
                <a href="#">BSSID:10: 00:20:00:34:01:29</a>
              </li>
              <li class="_right_li_nav">
                <a href="#">BSSID:10: 00:20:00:34:01:29</a>
              </li>
              <li class="_right_li_nav">
                <a href="#">BSSID:10: 00:20:00:34:01:29</a>
              </li>
              <li class="_right_li_nav">
                <a href="#">BSSID:10: 00:20:00:34:01:29</a>
              </li>
              <li class="_right_li_nav">
                <a href="#">BSSID:10: 00:20:00:34:01:29</a>
              </li>
            </ul>
            <br />
            <hr />
            <ul style="display: block">
              <li>
                <a href="#" class="symbols_container">
                  <span class="material-symbols-outlined symbols_right_dropNav">
                    wifi
                  </span>
                  <span>Wi-Fi Login </span>
                  <span class="material-symbols-outlined symbol_left_dropNav">
                    lock
                  </span>
                </a>
              </li>
            </ul>
            <hr />
            <li class="network _center_li_nav">
              <a href="#">Join Other Network.. </a>
              <span class="material-symbols-outlined">wifi </span>
            </li>
            <hr />
            <li class="_center_li_nav">
              <a href="#">Network Preference...</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="dropdown-button">
        <a href="#">
          <span class="material-symbols-outlined"> volume_up </span>
          <div class="dropMenu-list volume_container">
            <div class="volume_menu menu_icons">
              <input type="range" id="rangeInput" min="1" max="10" value="5" class="range_input" />
              <p id="output"></p>
            </div>
          </div>
        </a>
      </li>
      <li class="dropdown-button">
        <a href="#">
          <span class="material-symbols-outlined"> bluetooth </span>
          <div class="dropMenu-list">
            <div class="bluetooth_menu menu_icons">
              <span class="material-symbols-outlined symbols_right_dropNav">
                wifi
              </span>
              <span>Connected: </span>
              <span class="material-symbols-outlined symbol_left_dropNav">
                lock
              </span>
            </div>
          </div>
        </a>
      </li>
      <li class="dropdown-button">
        <a href="#">
          <div style="display: flex; justify-content: center; align-items: center">
            <span class="material-symbols-outlined" style="margin-right:6px"> battery_horiz_050 </span>
            <span style="line-height: 0.7;">43%</span>
          </div>
          <div class="dropMenu-list">
            <div class="bluetooth_menu menu_icons">
              <span class="material-symbols-outlined symbols_right_dropNav">
                wifi
              </span>
              <span>Connected: </span>
              <span class="material-symbols-outlined symbol_left_dropNav">
                lock
              </span>
            </div>
          </div>
        </a>
      </li>

      <li class="dropdown-button">
        <a href="#"><span class="material-symbols-outlined"> search </span>
          <div class="dropMenu-list">
            <div class="bluetooth_menu menu_icons">
              <span class="material-symbols-outlined symbols_right_dropNav">
                wifi
              </span>
              <span>Connected: </span>
              <span class="material-symbols-outlined symbol_left_dropNav">
                lock
              </span>
            </div>
          </div>
        
        </a>
      </li>
      <li class="dropdown-button">
        <a href="#"><span class="material-symbols-outlined"> home </span></a>
      </li>

      <li id="clock_top" class="dropdown-button"><a href="#"><div id="clockdate">
        <div class="clockdate-wrapper">
          <div><span id="clock"></span>
          <span id="date"></span></div> 
        </div>
      </div></a></li>
      <li>
        <a href="#" class="fullname-standard fullname-thin fullname-bold dropdown-button">
          Marian Iordache</a>
      </li>
      <li class="dropdown-button">
        <a href="#"><span class="material-symbols-outlined"> settings </span></a>
      </li>
    </ul>
  </div>
</div>