.linkDin-icon-page {
  width: 58px !important;
  height: 58px !important;
}



@keyframes fade-linkdin-move {
  0% {
    transform: translateY(40px) translateX(96px);
  }
  100% {
    transform: translateY(0px) translateX(96px);
  }
}

.linkDin-icon-page::after,
._me_icon_page::after {
  position: absolute;
  top: -8px;
  font-size: 60px;
  font-weight: 700;
  left: -177px;
  font-family: product-sans;
}

.link-none {
  display: none;
}
.linkdin-topnav-items {
  height: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  border-top-left-radius: 0;
  background: var(--second-finder-color);
}
.container-linkdin .linkDin-icon {
  position: relative;
  left: 1px;
  top: -3px;
}