<div class="modal_boxes" id="modal_linkedin" >
  <div class="wrapper-linkdin dimension_boxes _social_box_dimension" id="contentLink" >
    <div class="insert_header_box linkedin_title"></div>
    <div class="container-linkdin _wrapper_social">
      <div class="_parent_social">
        <div class="_parent_title animation_parent d-flex-center d-flex-row-reverse">
          <div class="_child_icon d-flex-center _insert_icon">
            <div class="linkDin-icon linkDin-icon-page square-icon-size _social_animation_title">
              <div>in</div>
            </div>
          </div>
          <div class="_child_title _insert_title">Github</div>
        </div>
        <div class="_parent_subtitle text_animation _insert_subtitle">Marian Iordache</div>
        <a href="#" class="a_social _insert_link">
          <button class="btn-social btn_social_large btn-social-animation">connect</button>
        </a>
        <div class="_social_loading_bar_parent">
          <div class="_social_loading_bar loading-animation"></div>
        </div>
        <div class="_social_motto _insert_motto">
            “ 90% of success is going through stress, pain, torment, and bulls**t.
            ”
            <br />
            <span class="_insert_motto_name">Andrew Tate</span>
          </div>
      </div>
  

      </div>
    </div>
  </div>
</div>





<div class="moto-linkdin _social_moto">
  “ To succeed in life, you need two things: Ignorance and Confidence. ”
  <br />
  <span>Mark Twain</span>