<div class="modal_boxes" id="modal_four" >
  <div class="wrapper-linkdin dimension_boxes " id="contentLink" >
    <div class="insert_header_box linkedin_title"></div>
    <div class="container-linkdin">
      <div class="linkDin-icon linkDin-icon-page square-icon-size">
        <div>in</div>
      </div>
      <div class="text-linkdin">Marian Iordache</div>
      <a
        class="a-linkdin"
        href="https://www.linkedin.com/in/marianiordache/"
        target="_blank"
      >
        <button class="button-linkdin opencloseLink">connect</button></a
      >
      <div class="container-loadingbar">
        <div class="loading-linkedin-bar loading-animation"></div>
      </div>
      <div class="moto-linkdin">
        “ To succeed in life, you need two things: Ignorance and Confidence. ”
        <br />
        <span>Mark Twain</span>
      </div>
    </div>
  </div>
</div>
