<div class="modal_boxes" id="modal_finder">
  <div class="container-finder dimension_boxes">
    <div class="finder-topnav header">
      <div class="insert_header_box finder_title"></div>
    </div>
    <div class="finder-secondnav">
      <div class="items-secondnav-left">
        <a href="#"
          ><span class="material-symbols-outlined"> arrow_back_ios </span></a
        >
        <a href="#"
          ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
        >
      </div>
      <div class="items-secondnav-center">
        <ul>
          <li>
            <a href="#" class="change_display"
              ><span class="material-symbols-outlined">
                display_settings
              </span></a
            >
          </li>
          <li>
            <a href="#"
              ><span class="material-symbols-outlined"> insert_chart </span></a
            >
          </li>
          <li>
            <a href="#"
              ><span class="material-symbols-outlined"> publish </span></a
            >
          </li>
          <li>
            <a href="#"
              ><span class="material-symbols-outlined"> cloud_upload </span></a
            >
          </li>
          <li>
            <a href="#"
              ><span class="material-symbols-outlined"> timer </span></a
            >
          </li>
          <li>
            <a href="#"
              ><span class="material-symbols-outlined"> folder_open </span></a
            >
          </li>
          <li>
            <a href="#"
              ><span class="material-symbols-outlined"> edit_document </span></a
            >
          </li>
          <li>
            <a href="#"
              ><span class="material-symbols-outlined"> add_to_drive </span></a
            >
          </li>
        </ul>
      </div>
      <div class="items-secondnav-right">
        <div class="search">
          <input
            type="text"
            class="searchTerm"
            placeholder="What are you looking for?"
          />
          <button type="submit" class="searchButton">
            <span class="material-symbols-outlined"> search </span>
          </button>
        </div>
      </div>
    </div>

    <div class="finder-middle">
      <div class="finder-middle-left">
        <ul class="finder_nav_list __nav_list">
          <div>Favorites</div>
          <li class="_l_list">
            <a
              href="#"
              class="tablink-profile openLinks all_links"
              onclick="openPage('about_me')"
              ><span class="material-symbols-outlined"> favorite </span>About
              Me</a
            >
          </li>
          <li class="_l_list">
            <a
              href="#"
              class="tablink-profile openLinks all_links"
              onclick="openPage('contact_me')"
              ><span class="material-symbols-outlined"> home </span>Home</a
            >
          </li>
          <li class="_l_list">
            <a
              href="#"
              class="tablink-profile openLinks all_links"
              onclick="openPage('my_Projects')"
              ><span class="material-symbols-outlined"> save </span>Projects</a
            >
          </li>
          <li class="_l_list">
            <a
              href="#"
              class="tablink-profile openLinks all_links"
              onclick="openPage('my_partners')"
              ><span class="material-symbols-outlined"> group </span>Script</a
            >
          </li>
          <li class="_l_list">
            <a
              href="#"
              class="tablink-profile openLinks all_links"
              onclick="openPage('my_photos')"
              ><span class="material-symbols-outlined"> slideshow </span
              >Photos</a
            >
          </li>
          <li class="_l_list">
            <a
              href="#"
              class="tablink-profile openLinks all_links"
              onclick="openPage('my_social')"
              ><span class="material-symbols-outlined">
                sentiment_satisfied </span
              >Social</a
            >
          </li>
          <li class="_l_list">
            <a
              href="#"
              class="tablink-profile openLinks all_links"
              onclick="openPage('my_partners')"
              ><span class="material-symbols-outlined"> travel_explore </span
              >Friends</a
            >
          </li>
          <li class="_l_list">
            <a
              href="#"
              class="tablink-profile openLinks all_links"
              onclick="openPage('my_partners')"
              ><span class="material-symbols-outlined"> videocam </span
              >videos</a
            >
          </li>
          <li class="_l_list">
            <a
              href="#"
              class="tablink-profile openLinks all_links"
              onclick="openPage('my_partners')"
              ><span class="material-symbols-outlined"> lan </span>network</a
            >
          </li>
          <div>location</div>
          <li class="_l_list">
            <a href="#"
              ><span class="material-symbols-outlined"> save </span>455 gb
              Volume I</a
            >
          </li>
          <li class="_l_list">
            <a href="#"
              ><span class="material-symbols-outlined"> save </span>250 gb
              Volume II</a
            >
          </li>
          <div>icloud</div>
          <li class="_l_list">
            <a href="#"
              ><span class="material-symbols-outlined"> save </span>GitHub
              Remote</a
            >
          </li>
        </ul>
      </div>
      <div class="finder-middle-right">
        <div class="contact-middle-right-person tabcontent" id="about_me">
          <div class="wrapper_aboutme defaultOpen">
            <div class="aboutme_push aboutmeBox" id="aboutme_push"></div>
          </div>
          <script>
            $("#aboutme_push").load("./pages/_finder_tabs/_about_me/aboutme.html");
          </script>
        </div>
        <div class="contact-middle-right-person tabcontent" id="contact_me">
          <div class="contact_wrapper_forms d-flex-around d-flex-column">
            <h2>how are you? Today!</h2>
            <div class="contact_push_right d-flex-column d-flex-center">
              <p>give me a note</p>
            </div>
            <div
              class="contact_push contactBox d-flex-around d-flex-column"
              id="contact_push"
            >
              cc
            </div>
          </div>
        </div>
        <div class="contact-middle-right-person tabcontent" id="my_photos">
          <div class="wrapper-3">photos</div>
        </div>
        <div class="contact-middle-right-person tabcontent" id="my_partners">
        <div class="wrapper-partners">my partners</div>
        </div>
        <div class="contact-middle-right-person tabcontent" id="my_social">
          <div class="wrapper-social">social</div>
          </div>
        <div class="contact-middle-right-person tabcontent" id="my_Projects">
          <div class="contact-middle-top middle-projects">
            <div class="wrapper_projects">
              <div class="projects_push projectsBox" id="projects_push"></div>
            </div>
            <script>
              $("#projects_push").load("./pages/_finder_tabs/_projects/projects.html");
            </script>
        
          </div>
        </div>
      </div>
    </div>
    <div class="container-footer-finder footer_insert_pages"></div>
  </div>
</div>
<script></script>
