.container-finder {
  width: var(--containers_width);
  height: var(--containers_height);
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--bg-border_parent);
}

.finder-topnav {
  overflow: hidden !important;
}

.finder-topnav-items {
  width: 46%;
  height: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  border-top-left-radius: 0;
  margin-left: 10px;
}

.circle {
  width: 7px;
  height: 7px;
  border-radius: 50px;
  margin-left: 5px;
}

.finder-secondnav {
  background: var(--bg-color_overlay);
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items-secondnav-left {
  margin-left: 10px;
  background: var(--bg-color_child);
  display: flex;
  border-radius: 5px;
}

.items-secondnav-center {
  margin-left: -4.77px;
}

.items-secondnav-center ul {
  display: flex;
  flex-direction: row;
}

.items-secondnav-center ul li:nth-child(4) {
  margin-left: 10px;
}

.items-secondnav-center ul li:nth-child(5) {
  margin-right: 10px;
}

.items-secondnav-center ul li:nth-child(5) {
  margin-right: 10px;
}

.items-secondnav-right li a i {
  position: absolute;
  top: 1px;
  left: 5px;
}

.items-secondnav-right li {
  margin-right: 10px;
}

.items-secondnav-right {
  position: relative;
}

.finder-middle {
  width: 100%;
  height: 100%;
}

.finder-middle-left {
  height: 100%;
  width: 25%;
  float: left;
  /* background: var(--bg-color_overlay); */
}

.finder-middle-left ul {
  height: 100%;
  text-align: start;
  margin: 10px;
  padding: 1em;
}

.finder-middle-left ul li {
  padding: 4px 0;
  list-style: none;
}

.finder-middle-left ul li:hover {
  background: rgb(65, 105, 225);
}

.finder-middle-left ul li a {
  margin-left: 10px !important;
}

.finder-middle-left ul li a,
.contact-middle-left ul li a {
  text-decoration: none;
  margin-left: 12px;
  color: var(--text-azure);
  font-size: 0.78em !important;
  text-transform: capitalize;
  font-weight: 300 !important;
}

.finder-middle-left ul > div {
  color: var(--soft-grey);
  text-transform: capitalize;
  font-size: 0.65em;
}

.finder-middle-right {
  width: 75%;
  background: var(--bg-color_overlay);
  height: 100%;
  float: right;
}

.contact-middle-image {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  /* top: 27px;
    left: -100px; */
}

.contact-image-container {
  height: 67px;
  border-radius: 50px;
  padding: 10px;
  display: flex;
}

.search {
  width: 100%;
  height: 25px;
  position: relative;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 15px;
}

.searchTerm {
  width: 180px;
  border-right: none;
  height: 20px;
  border-radius: 3px;
  outline: none;
  border: none;
  font-size: 0.5em;
  background: var(--soft-grey);
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchTerm::placeholder {
  padding-left: 20px;
  color: rgb(180, 180, 180);
  text-align: center;
}

.searchButton {
  text-align: center;
  cursor: pointer;
  font-size: 0.7em;
  outline: none;
  position: fixed;
  background: none;
  border: none;
  padding-left: 4px;
  padding-top: 2px;
  color: rgb(180, 180, 180);
}

.container-footer-finder,
.container-footer-contact {
  color: rgb(180, 180, 180);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background: var(--soft-grey); */
  font-size: 0.6em !important;
  font-weight: 300 !important;
  padding: 5px;
}

.container-footer-finder-settingsPanel a {
  font-size: 0.6rem !important;
  font-weight: 300 !important;
  margin-right: 65px;
}

.container-footer-contact > div:nth-child(2) {
  margin-left: 72px;
}

/*=================~~~~~~~~~ MY PROJECTS =======================!!!!!!!!!!!!*/
.js_folders {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: flex-start;
  padding: 1em;
}

.change_folders {
  grid-template-columns: repeat(9, 65px);
  grid-template-rows: repeat(7, 65px);
  font-size: 0.8em;
}

.-folders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.change_folders.active {
  grid-template-columns: repeat(7, 75px);
  grid-template-rows: repeat(4, 75px);
  grid-gap: 8px;
  font-size: 1em;
}

.folder-inside {
  width: 40px;
  height: 40px;
  background-image: url(/template/assets/png/folders/mac_folder.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.folder-inside.active_large {
  width: 65px;
  height: 65px;
}

.container-contact {
  /* background: var(--primaryS-finder-color); */
  max-width: 1200px;
  width: 1200px;
  min-width: 650px;
  height: 800px;
  min-height: 470px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  top: -137px;
  left: -499px;
  transform: translate(-50px, -50px);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  flex-direction: column;
  z-index: 500;
}

.contact-topnav,
.finder-topnav {
  /* background: var(--soft-grey); */
  display: inline-flex;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.contact-topnav p,
.finder-topnav p {
  font-size: 0.66em;
  color: var(--text-azure);
}

.contact-middle {
  width: 100%;
  height: 100%;
}

.contact-middle-left {
  height: 100%;
  width: 15%;
  float: left;
  position: relative;
}

.like-button {
  position: absolute;
  bottom: 15px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 10px 20px;
}

.like-button button {
  background-color: var(--btn-contact-simple);
  border-radius: 1px;
  width: 65px;
  height: 22px;
  padding: 4px 16px;
  text-align: right;
  outline: none;
  border: none;
  color: var(--text-azure);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 2px;
  font-size: 10px !important;
  cursor: pointer;
  align-items: baseline;
}

.contact-middle-left ul {
  height: 100%;
  text-align: start;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5em;
  margin-left: 15%;
  align-items: start;
  font-size: 1.2em;
}

.contact-middle-left ul li {
  padding: 4px 0;
  list-style: none;
}

.contact-middle-left ul li:hover {
  background: var(--hover-text);
}

.contact-middle-left ul > div {
  color: var(--soft-grey);
  text-transform: capitalize;
  font-size: 0.8em;
}

.contact-middle-right {
  float: right;
  width: 85%;
  height: 100%;
  padding: 5px;
}

.contact-middle-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  min-height: 80%;
  height: 80%;
}

/*
  .contact-name {
    margin-left: 40px;
  }
  */
.contact-name div:nth-child(1),
.contact-form-title {
  color: var(--text-azure);
  font-size: 1.5em;
  font-weight: 500;
}

.contact-form-title {
  margin: 0 auto;
  text-transform: uppercase;
  width: 200px;
  padding: 12px;
  font-size: 22px;
  text-align: center;
}

.contact-form-title-after {
  line-height: -0.7;
  font-size: 20px;
  position: absolute;
  top: 15%;
  left: 97px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}

.contact-form-title-after span {
  font-size: 10px;
  font-weight: 100;
}

.contact-name div:nth-child(2) {
  font-size: 0.66rem;
  width: 200px;
  font-weight: 100;
  font-style: oblique;
  margin-top: -5px;
  text-align: center;
}

.contact-profile-img {
  width: 90px;
  height: 90px;
  background-image: url(/template/assets/png/marean.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #919191;
  border-radius: 12px;
  position: relative;
  left: 69px;
  top: -19px;
}

.contact-profile-img.Sorin {
  background-image: url(/template/assets/png/marean.png);
}

.contact-profile-img.Rares {
  background-image: url(/template/assets/png/rares.jpg);
}

.contact-middle-right-person {
  color: var(--text-azure);
  display: none;
  height: 100%;
}

.contact-middle-items {
  display: flex;
  padding: 0px 2px;
  margin-top: -0.8em;
}

.contact-middle-items a {
  font-size: 0.6rem !important;
  width: 60px;
  text-align: center;
  text-transform: capitalize;
}

.contact-middle-information {
  padding: 10px;
  width: 98%;
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.contact-middle-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  width: 100%;
}

.info-middle {
  width: 100%;
  text-align: start;
}

.cssbattle-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 302px;
  gap: 22px;
  text-align: center;
}

.css-Grank div:first-child,
.css-TScore div:first-child,
.css-Tplayed div:first-child {
  font-size: 0.7rem !important;
  font-weight: 600 !important;
}

.css-Grank div:nth-child(2),
.css-TScore div:nth-child(2),
.css-Tplayed div:nth-child(2) {
  font-size: 0.65rem !important;
  font-weight: 300 !important;
  margin-top: -3px;
}

.info-middle-list {
  display: inline-flex;
  flex-direction: row;
  padding: 1px;
}

.info-middle-list-email {
  text-transform: none !important;
}

.info-middle-list span a {
  font-size: 0.72rem !important;
}

.info-middle-list span {
  font-size: 0.72em !important;
  text-transform: capitalize;
  font-weight: 400;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.info-middle-list p {
  width: 100px;
  text-align: end;
  font-size: 0.72em !important;
  text-transform: capitalize;
  padding: 5px;
  border-radius: 4px;
}

.info-middle > hr {
  border-color: var(--soft-grey);
  opacity: 0.2;
  width: 100%;
  margin: 2px 0px 2px 0px;
}

.contact-middle-footer-btn {
  display: flex;
  flex-basis: 70%;
  justify-content: end;
  gap: 10px;
}

.btn-contact {
  padding: 5px 10px;
  font-size: 11px !important;
  background-color: var(--btn-contact-simple);
  border: none;
  outline: none;
  width: 6rem;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn-contact:hover {
  color: var(--btn-contact-hover);
  transition: ease 0.6s;
}

/*  -------start  Contact special -------*/
/*  -------start  Contact special -------*/
/*  -------start  Contact special -------*/
/*  -------start  Contact special -------*/
/*  -------start  Contact special -------*/
.container-contact-cards {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  font-family: "Open Sans", sans-serif;
}

.partners-middle-image {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
  position: relative;
  top: 27px;
  left: 87px;
  justify-content: start;
}

.partner-text {
  font-size: 0.66rem;
  width: 230px;
  font-weight: 100;
  font-style: oblique;
  margin-top: -5px;
  text-align: center;
}

.cards-persons {
  opacity: 0;
  width: 135px;
  height: 30%;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: ease 0.5s;
  /* background-color: lightgray; */
  position: relative;
  animation: portrait-move 0.8s linear forwards;
  z-index: 120;
  color: var(--medium-black);
  border-radius: 4px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-right: 2px solid var(--text-azure);
}

.cards-persons:hover::after {
  content: "";
  background-color: #2d38447e;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 80%;
}

.hide-person {
  width: 0px;
  visibility: hidden;
  opacity: 0 !important;
}

.selected-person {
  width: 700px;
  visibility: visible;
  opacity: 1 !important;
}

.cards-persons:hover {
  cursor: pointer;
  opacity: 1;
  z-index: 1000;
  transform: scale(1.1);
  position: relative;
}

#partners {
  background: black;
}

.cards-persons:hover:active {
  background-color: red;
}

.person__cards__one,
.person__cards__tree,
.person__cards__four,
.person__cards__five,
.person__cards__six {
  background-image: url(/template/assets/png/test.jpg);
  background-size: cover;
  background-position: 65%;
  background-repeat: no-repeat;
  height: fit-content;
  z-index: 0;
}

.person__cards__one {
  background-image: url(/template/assets/png/andrei.jpg);
  background-size: 450%;
  background-position: 45% 70%;
}

.person__cards__two {
  background-image: url(/template/assets/png/denis.jpg);
  background-size: cover;
  background-position: 80%;
}

.person__cards__tree {
  background-image: url(/template/assets/png/bogdan.jpeg);
  background-size: 400%;
  background-position: 45% 70%;
}

.person__cards__four {
  background-image: url(/template/assets/png/rares2.jpg);
  background-size: 400%;
  background-position: 50% 20%;
}

.person__cards__five {
  background-size: 350%;
  background-position: 40% 50%;
  background-image: url(/template/assets/png/bogdan.jpeg);
}

@keyframes portrait-move {
  from {
    height: 0%;
    opacity: 0;
  }

  to {
    height: 80%;
    opacity: 1;
  }
}

.cards-persons span {
  font-size: 0.85em;
}

/* [data-name]:before {
      content: attr(data-name);
    color: red;
  } */
.cards-persons:hover [data-name]::after {
  content: attr(data-name);
  transform: scale(1.3);
  cursor: pointer;
  width: 100%;
  background-color: yellow;
  height: 65%;
  transition: ease 0.2s;
  font-size: 0.8rem;
  position: relative;
  text-transform: capitalize;
  left: 0;
}

.cards-persons .button-cards-person {
  display: none;
}

.cards-persons:hover .button-cards-person {
  display: block;

  background-color: black !important;
}

.person__cards__six {
  animation-delay: 0.7s;
  opacity: 0;
}

.person__cards__five {
  animation-delay: 0.6s;
  opacity: 0;
}

.person__cards__four {
  animation-delay: 0.5s;
  opacity: 0;
}

.person__cards__tree {
  animation-delay: 0.4s;
  opacity: 0;
}

.person__cards__two {
  animation-delay: 0.3s;
  opacity: 0;
}

.person__cards__one {
  animation-delay: 0.2s;
  opacity: 0;
}

/*  -------end  Contact special -------*/
/*  -------end  Contact special -------*/
/*  -------end  Contact special -------*/
