<div class="modal_boxes modal_avatars" id="modal_avatars">
  <div class="insert_header_box avatars_title"></div>
  <div class="wrapper_avatars avatars_dimension box_dimensions">
    <!-- <h1>Avatar Display</h1> -->

    <!-- <br />
    <h3>Male Avatars</h3>
    <br />
    <div id="maleTabContent" class="maleTabContent"></div>
    <br />
    <h3>Female Avatars</h3>
    <br />
    <div id="femaleTabContent" class="femaleTabContent"></div> -->


    <div id="avatar_selected" class="avatar_selected">2</div>
    <br>
<button class="btn-admin close_box">select</button>


    <div id="avatarGrid"></div>
    <div id="avatarUrlInput"></div>
    <!-- <div>
      <button onclick="openPage(event, 'Male')" class="tablink all_links">
      Male
    </button>
    <button onclick="openPage(event, 'Female')" class="tablink all_links">
      Female
    </button>
    </div> -->
    <!-- <div id="container_get" class="container_get d-flex-row d-flex-center"></div> -->
    <!-- <div id="Male" class="tabcontent">test</div>
  <div id="Female" class="tabcontent">test</div> -->
  </div>
</div>
