.wrapper_avatars {
    width: 450px;
    height: fit-content;
    color: white;
    padding: 2em 1em;
    /* background-color: red */
}
.wrapper_avatars h3 {
    text-align: center;
}

/* .avatars_push {
    display:  block !important;
} */
.avatar_selected {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.avatar_selected img {
height: 70px;
width: 70px;
cursor: pointer;
}