.wrapper_avatars {
    width: 750px;
    height: 500px;
    color: white;
    overflow-y: scroll;
    /* background-color: red */
}
.wrapper_avatars h3 {
    text-align: center;
}

/* .avatars_push {
    display:  block !important;
} */
.maleTabContent , .femaleTabContent {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
}

.maleTabContent img, .femaleTabContent img {
height: 70px;
width: 70px;
}