.wrapper_avatars {
  width: 450px;
  height: fit-content;
  max-width: 630px;
  color: white;
  padding: 1em 1em;
  background-color: var(--github_gradient);
}
.wrapper_avatars h3 {
  text-align: center;
}

/* .avatars_push {
    display:  block !important;
} */
.insert_aVtitle {
  font-size: 1.4em;
  text-align: start;
  text-transform: uppercase;
  padding: 0em 1em;
  margin-bottom: 8px;
  color: var(--title_largeText);
}
.avatar_selected {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1em 0;
  border-top: 1px solid #979a98;
  border-bottom: 1px solid #979a98;
  margin: 0 auto;
  width: 400px;
  position: relative;
}

.avatar_selected img {
  height: 70px;
  width: 70px;
  cursor: pointer;

  border-radius: 100px;
}

.avatar_selected img.selected {
  background: var(--btn_social);
  border: 2px solid white;
}
.avatar_selected img {
  background: white;
}
/* .avatar_selected::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  } */
