<div class="modal_boxes" id="modal_github">
  <div class="wrapper-github dimension_boxes">
    <div class="insert_header_box github_title"></div>
    <div class="container-github">
      <div class="git-hub-container git-hub-animation saas">
        <div class="github-icon circle-icon-size square-icon-size github-site">
          <div class="github-icon-ears">
            <div class="github-icon-ears-left"></div>
            <div class="github-icon-ears-right"></div>
          </div>
          <div class="github-icon-face"></div>
          <div class="github-icon-body"></div>
          <div class="github-icon-tails"></div>
        </div>
      </div>
      <div class="text-github">Marian Iordache</div>
      <a class="a-github" href="https://github.com/DexTerR33" target="_blank"><button
          class="button-github opencloseLink clickMe2">
          connect
        </button></a>
      <div class="container-loadingbar">
        <div class="loading-github-bar loading-animation"></div>
      </div>
      <div class="moto-github">
        “ The beginning of knowledge is the discovery of something we do not understand. ” <br>
        <span>Frank Herbert</span>
      </div>
    </div>
  </div>
</div>
