<div class="modal_boxes" id="modal_github">
  <div class="wrapper-github dimension_boxes _social_box_dimension">
    <div class="insert_header_box github_title"></div>
    <div class="container-github _wrapper_social">
      <div class="_parent_social">
        <div class="_parent_title animation_parent d-flex-center d-flex-row-reverse">
          <div class="_child_icon d-flex-center _insert_icon git-hub-container">
            <div class="github-icon circle-icon-size square-icon-size github-site">
              <div class="github-icon-ears">
                <div class="github-icon-ears-left"></div>
                <div class="github-icon-ears-right"></div>
              </div>
              <div class="github-icon-face"></div>
              <div class="github-icon-body"></div>
              <div class="github-icon-tails"></div>
            </div>
          </div>
          <div class="_child_title _insert_title">Github</div>
        </div>
        <div class="_parent_subtitle text_animation _insert_subtitle"></div>
        <a href="#" class="a_social _insert_link">
          <button class="btn-social btn_social_large btn-social-animation">
            connect
          </button>
        </a>
        <div class="_social_loading_bar_parent">
          <div class="_social_loading_bar loading-animation"></div>
        </div>
        <div class="_social_motto _insert_motto">
          <br />
          <span class="_insert_motto_name"></span>
        </div>
      </div>
    </div>
  </div>
</div>