<div class="modal_boxes modal_admin" id="modal_admin">
  <div class="insert_header_box github_title"></div>
  <div class="wrapper_admin">
    <div class="container_admin">
      <div class="title_section_admin d-flex-row d-flex-around">
        <h4>Admin Panel</h4>
        <h6 class="login_admin">login</h6>
      </div>
      <br />
      <div class="_input">
        <label for="firstNamebox">first name:</label>
        <input
          type="text"
          id="firstNamebox"
          placeholder="Name"
          maxlength="40"
          required
        />
      </div>
      <div class="_input">
        <label for="lastNamebox">last name:</label>
        <input
          type="text"
          id="lastNamebox"
          placeholder="last Name"
          maxlength="40"
          required
        />
      </div>
      <div class="_input">
        <label for="emailbox">email:</label>
        <input
          type="text"
          id="emailbox"
          placeholder="email"
          maxlength="60"
          required
        />
      </div>
      <div class="_input">
        <label for="sectionbox">what are you studying?!:</label>
        <input
          type="text"
          id="sectionbox"
          placeholder="what you are ..?"
          maxlength="60"
          required
        />
      </div>
      <div class="_input _input_website">
        <input
          type="checkbox"
          name="check_web"
          id="check_web"
          class="check_web"
        />

        <label for="portofoliobox">website:</label>

        <input
          type="text"
          id="portofoliobox"
          placeholder="put your link here"
          maxlength="150"
          required
        />
      </div>

      <div
        class="container-btn-avatars box_open"
        data-modal="modal_avatars"
        id="box_avatars"
      >
        <!-- <button class="btn-users" style="display:none !important;">add avatars</button> -->
      </div>
      <!-- <div id="avatar-test"></div> -->

      <div class="_input">
        <label for="">the gender</label>
        <select id="genbox" name="gender" class="gender">
          <option value="nothing">Select a gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>

        <!-- <select name="" id="genbox">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select> -->
      </div>
      <div class="container-btn d-flex">
        <button
          id="insbtn"
          class="btn_social_large btn-admin insbtn close_box_btn"
        >
          insert
        </button>
        <!-- <button id="selbtn" class="btn-social btn-admin btn-disabled" disabled>
          select
        </button> -->
        <!-- <button id="updBtn" class="btn-social  btn-disabled" disabled>
          update
        </button>
        <button id="delbtn" class="btn-social btn-disabled" disabled>
          delete
        </button> -->
        <!-- <button id="submit-button">Submit</button> -->
      </div>
    </div>
  </div>
  <div id="_addSucces" class="_modal-" style="display: none"></div>
</div>

<script>

</script>
