/* .wrapper_admin {
  width: 100%;
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
#modal_admin {
  display: block !important;
}
.container_admin {
  /* background-color: red;
    width: 50%;
    height: fit-content; */
  /* border: 1px solid black; */
  background: var(--github_gradient);
  width: fit-content;
  padding: 2em 2em;
  color:var(--title_largeText);
  text-transform: uppercase;
  font-weight: bold;
}
._input input::placeholder {
  font-weight: bold;
  font-size: 0.94em;
  text-transform: capitalize;
}
._input input[type="text"],
._input .gender,
._input .gender option {
  border-radius: 5px;
  background: #888888;
}
._input input[type="text"]::placeholder {
  color: rgb(49, 49, 49);
  text-transform: lowercase;
  font-weight: 400 !important;
  font-size: 14px;
}
._input_website {
  position: relative;
}
._input .check_web {
  width: fit-content;
  position: absolute;
  right: 3%;
  top: 10px;
}
._input .check_web::after {
  content: "no website";
  display: flex;
  position: relative;
  top: -1px;
  left: -72px;
  width: 80px;
  height: fit-content;
  color: white;
}
._input .check_web:checked:after {
  content: "no website";
  display: flex;
  position: relative;
  top: -1px;
  left: -72px;
  width: 80px;
  height: fit-content;
  color: #e25b04;
}
.container-btn {
  padding: 0.5em;
  gap: 10px;

  justify-content: flex-start;
}

._input input,
#genbox {
  width: 35em;
  padding: 10px;
  border: 1px solid #ffffff75;
  border-top: none;
  outline: none;
}
._input Label {
  padding: 0.3em;
  font-size: 0.8em;
  font-family: "SF-Regular";
  font-weight: 400;
  text-transform: uppercase;
}
._input {
  padding: 0.2em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* justify-content: space-around; */
}
.title_section_admin {
  text-align: center;
  display: flex;
  position: relative;
}

.login_admin {
  position: absolute;
  right: 0;
  top: -17px;
}
