/* .wrapper_admin {
  width: 100%;
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
#modal_admin {
  display: block !important;
}
.container_admin {
  /* background-color: red;
    width: 50%;
    height: fit-content; */
  /* border: 1px solid black; */
  background: var(--github_gradient);
  width: fit-content;
  padding: 2em 2em 1.5em;
  color: var(--title_largeText);
  text-transform: uppercase;
  font-weight: bold;
}

._input input[type="text"],
._input .gender,
._input .gender option {
  border-radius: 5px;
  background: #d7d7d7;
}
._input input[type="text"]::placeholder {
  color: rgb(78, 78, 78);
  text-transform: lowercase;
  font-weight: 400 !important;
  font-size: 13px;
}
._input #genbox {
  font-size: 13px;
  text-transform: lowercase;
  font-weight: 400 !important;
  color: rgb(78, 78, 78);
  width: 100%;
}
._input_website {
  position: relative;
}
._input .check_web {
  width: fit-content;
  position: absolute;
  right: 2%;
  top: 6px;
  width: 15px;
  -webkit-appearance: none;
  height: 15px;
  transform: scale(0.8);
  background: #d7d7d7;
  border-radius: 3px;
  color: var(--title_largeText);
  font-family: "SF-Regular";
}
._input .check_web::after {
  content: "No Website";
  display: flex;
  position: relative;
  top: -7px;
  left: -94px;
  width: 80px;
  height: fit-content;
  color: white;
  font-size: 1.1em;
  letter-spacing: 0.4px;
}
._input .check_web:checked:after {
  content: "✔";
  display: flex;
  position: relative;
  top: -14px;
  left: -8px;
  width: 80px;
  font-size: 1.6em;
  height: fit-content;
  color: #f50000;
}

.container-btn {
  padding: 0.8em 0.2em;
  gap: 10px;
  justify-content: flex-start;
}

._input input,
#genbox {
  width: 35em;
  padding: 10px;
  border: 1px solid #ffffff75;
  border-top: none;
  outline: none;
}
._input Label {
  padding: 0.5em 0;
  font-size: 0.8em;
  font-weight: 400;
  text-transform: capitalize;
}
._input {
  padding: 0.2em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* justify-content: space-around; */
}
.title_section_admin {
  text-align: center;
  display: flex;
  position: relative;
}

.login_admin {
  position: absolute;
  right: -4px;
  top: -19px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 0.8em;
  color: var(--btn_social);
}
.title_section_admin h4 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.4em;
}